@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
	</tr>
</table>
@if (_b86e1c22_711e_455f_9859_81389930ef99_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _b86e1c22_711e_455f_9859_81389930ef99_buttonVisibilityTest = !_b86e1c22_711e_455f_9859_81389930ef99_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _b86e1c22_711e_455f_9859_81389930ef99_buttonVisibilityTest;

} 
