@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_b79e3a89_9afc_42ae_8eae_307d4efaf245_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _55296092_868d_493e_bc49_7b3479bf61bd_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _55296092_868d_493e_bc49_7b3479bf61bd_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private void _b79e3a89_9afc_42ae_8eae_307d4efaf245_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_25f038c0_36d4_4440_8aeb_9df1892af1a5_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _e18e1aa0_5eb9_47ae_99e7_bd6464509fbe_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _55296092_868d_493e_bc49_7b3479bf61bd_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
