@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _068bac16_1be2_48b5_b913_66b3ad3da386_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
@if (_daa28093_afc3_4ecc_9888_0d1080f6471e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _daa28093_afc3_4ecc_9888_0d1080f6471e_buttonVisibilityTest = !_daa28093_afc3_4ecc_9888_0d1080f6471e_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _daa28093_afc3_4ecc_9888_0d1080f6471e_buttonVisibilityTest;
	private string _068bac16_1be2_48b5_b913_66b3ad3da386_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _990a20f6_49c0_41a9_ab75_ea1944ce50a0_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
