
<div class="@(Get_c566cb91_037a_4e2b_9976_3730a7a51cbc_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_61fc2683_503b_475f_910b_d74d04451179_Text())
</a>
<button>
	This is a test button! 
</button>
@code { 

	private string Get_c566cb91_037a_4e2b_9976_3730a7a51cbc_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_61fc2683_503b_475f_910b_d74d04451179_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
