@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			@if (_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest = !_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest = !_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest = !_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest = !_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest = !_1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_7a9e83a0_1cda_45f1_a1a2_cb9e39c52b52_Text())
</a>
@code { 
	private bool _1647f5d8_ea94_4d36_9aa6_376dd56784ed_buttonVisibilityTest;
	private string GetAnchor_7a9e83a0_1cda_45f1_a1a2_cb9e39c52b52_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
