
<div class="@(Get_95158b77_0fa6_45bd_99ca_b19521ae7ba4_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_95158b77_0fa6_45bd_99ca_b19521ae7ba4_Class()
	{
		return "alert alert-info";
	}
} 
