
<div class="@(Get_988c8117_9376_4cca_b797_b937f0d31aef_Class())">
	<p>This div is a test!</p>
</div>
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col1Row5
		</td>
	</tr>
</table>
<div class="@(Get_d0e3ad7f_2992_4ab1_a927_d4173ee48aed_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_f844e02c_580d_4567_b780_f8b0ff2a4f6d_Text())
</a>
@code { 

	private string Get_988c8117_9376_4cca_b797_b937f0d31aef_Class()
	{
		return "alert alert-info";
	}
	private string Get_d0e3ad7f_2992_4ab1_a927_d4173ee48aed_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_f844e02c_580d_4567_b780_f8b0ff2a4f6d_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
