
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_a6424143_834a_407d_b2bb_2fcb3f93474d_Text())
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
			<th>
				Test Header 4
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col2Row1
			</td>
			<td>
				Col3Row1
			</td>
			<td>
				Col4Row1
			</td>
			<td>
				Col1Row2
			</td>
			<td>
				Col2Row2
			</td>
			<td>
				Col3Row2
			</td>
			<td>
				Col4Row2
			</td>
			<td>
				Col1Row3
			</td>
			<td>
				Col2Row3
			</td>
			<td>
				Col3Row3
			</td>
			<td>
				Col4Row3
			</td>
			<td>
				Col1Row4
			</td>
			<td>
				Col2Row4
			</td>
			<td>
				Col3Row4
			</td>
			<td>
				Col4Row4
			</td>
			<td>
				Col1Row5
			</td>
			<td>
				Col2Row5
			</td>
			<td>
				Col3Row5
			</td>
			<td>
				Col4Row5
			</td>
		</tr>
	</table>
</a>
<a href="#">
	@(GetAnchor_4d9cd905_98ff_4a35_a64a_d04e0c09971b_Text())
</a>
<a href="#">
	@(GetAnchor_81df31d6_35b0_4e4a_99a3_5f9a6160ecf9_Text())
</a>
@code { 

	private string GetAnchor_a6424143_834a_407d_b2bb_2fcb3f93474d_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_4d9cd905_98ff_4a35_a64a_d04e0c09971b_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_81df31d6_35b0_4e4a_99a3_5f9a6160ecf9_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
