
<a href="#">
	@(GetAnchor_5b3d2c5d_92e9_4997_aff4_e17647138526_Text())
</a>
<a href="#">
	@(GetAnchor_7e1138c5_7302_41fe_abc5_4721ff0150ea_Text())
</a>
<div class="@(Get_ec03e485_49c7_4282_b7d5_b8a6022aecf5_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string GetAnchor_5b3d2c5d_92e9_4997_aff4_e17647138526_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_7e1138c5_7302_41fe_abc5_4721ff0150ea_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_ec03e485_49c7_4282_b7d5_b8a6022aecf5_Class()
	{
		return "alert alert-info";
	}
} 
