@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c5dd9800_21c0_4549_9128_72fd63c476fb_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c5dd9800_21c0_4549_9128_72fd63c476fb_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _c5dd9800_21c0_4549_9128_72fd63c476fb_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _f136c1fa_9122_42f7_a40f_6871d1a331c0_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c321164e_00a7_410b_b484_9ccd38c7335d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c321164e_00a7_410b_b484_9ccd38c7335d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		<div class="@(Get_a0b16e6a_8841_4391_bb60_c3518c98387d_Class())">
			<p>This div is a test!</p>
		</div>
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _c321164e_00a7_410b_b484_9ccd38c7335d_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _c321164e_00a7_410b_b484_9ccd38c7335d_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ba421d1e_e753_4d4f_957c_86678900abf5_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ba421d1e_e753_4d4f_957c_86678900abf5_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _ba421d1e_e753_4d4f_957c_86678900abf5_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	<a href="#">
		@(GetAnchor_f34622fc_a7a1_4688_9786_7c138f307757_Text())
		<a href="#">
			@(GetAnchor_cd88ecd3_572a_45d7_8a1c_9704ea1ae7cc_Text())
		</a>
	</a>
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
	</tr>
</table>
@code { 

	private string _c5dd9800_21c0_4549_9128_72fd63c476fb_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _f136c1fa_9122_42f7_a40f_6871d1a331c0_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_a0b16e6a_8841_4391_bb60_c3518c98387d_Class()
	{
		return "alert alert-info";
	}
	private string _c321164e_00a7_410b_b484_9ccd38c7335d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _ba421d1e_e753_4d4f_957c_86678900abf5_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_cd88ecd3_572a_45d7_8a1c_9704ea1ae7cc_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_f34622fc_a7a1_4688_9786_7c138f307757_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
