@using Telerik.Blazor.Components;
<div class="@(Get_1259fa4b_d919_4f61_9a76_d97be3569780_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _73b5ce13_54c7_4b47_a76d_a9802cc34153_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _73b5ce13_54c7_4b47_a76d_a9802cc34153_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _73b5ce13_54c7_4b47_a76d_a9802cc34153_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _73b5ce13_54c7_4b47_a76d_a9802cc34153_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _73b5ce13_54c7_4b47_a76d_a9802cc34153_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_1ca3cba4_c11e_4b75_a374_7484f4af6375_Text())
</a>
<div class="@(Get_f9088c6b_7f49_4559_b6d1_0e362a9106b6_Class())">
	<p>This div is a test!</p>
</div>
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _734826c1_87a8_4bd7_b324_5da956f2b271_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _734826c1_87a8_4bd7_b324_5da956f2b271_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string Get_1259fa4b_d919_4f61_9a76_d97be3569780_Class()
	{
		return "alert alert-info";
	}
	private string _73b5ce13_54c7_4b47_a76d_a9802cc34153_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_1ca3cba4_c11e_4b75_a374_7484f4af6375_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_f9088c6b_7f49_4559_b6d1_0e362a9106b6_Class()
	{
		return "alert alert-info";
	}
	private string _734826c1_87a8_4bd7_b324_5da956f2b271_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
