@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _26097ccf_6797_46a9_8cc3_4ef5d5bfb463_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _26097ccf_6797_46a9_8cc3_4ef5d5bfb463_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _26097ccf_6797_46a9_8cc3_4ef5d5bfb463_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _26097ccf_6797_46a9_8cc3_4ef5d5bfb463_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _26097ccf_6797_46a9_8cc3_4ef5d5bfb463_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _77d784ef_9afa_4686_83be_2f5cf646621a_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _77d784ef_9afa_4686_83be_2f5cf646621a_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		<a href="#">
			@(GetAnchor_9074b782_9c23_4f3d_9c5b_61ffeb797502_Text())
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _67658954_9d95_4000_ab8e_9f4b6846cb8f_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</a>
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	<div class="@(Get_f0cf1790_90dd_457f_a30c_3ba8c951da19_Class())">
		<p>This div is a test!</p>
	</div>
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
		<td>
			Col5Row5
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7f021c3c_8775_40f3_adb7_bc91a164c56e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _7f021c3c_8775_40f3_adb7_bc91a164c56e_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _7f021c3c_8775_40f3_adb7_bc91a164c56e_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _7f021c3c_8775_40f3_adb7_bc91a164c56e_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _7f021c3c_8775_40f3_adb7_bc91a164c56e_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _48ebffb8_5672_46b7_a415_583618ce0969_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _48ebffb8_5672_46b7_a415_583618ce0969_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _48ebffb8_5672_46b7_a415_583618ce0969_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
@code { 

	private string _26097ccf_6797_46a9_8cc3_4ef5d5bfb463_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _67658954_9d95_4000_ab8e_9f4b6846cb8f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_9074b782_9c23_4f3d_9c5b_61ffeb797502_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _77d784ef_9afa_4686_83be_2f5cf646621a_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_f0cf1790_90dd_457f_a30c_3ba8c951da19_Class()
	{
		return "alert alert-info";
	}
	private string _7f021c3c_8775_40f3_adb7_bc91a164c56e_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_b807376a_a6eb_492d_9daa_addc343d79cc_Class()
	{
		return "alert alert-info";
	}
	private string _48ebffb8_5672_46b7_a415_583618ce0969_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
