@using Telerik.Blazor.Components;
@if (_055c9dab_15f7_4fe4_802d_ed6626dd764b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _055c9dab_15f7_4fe4_802d_ed6626dd764b_buttonVisibilityTest = !_055c9dab_15f7_4fe4_802d_ed6626dd764b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _8b80ee53_408d_4215_810a_b86cd3346ad0_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _8b80ee53_408d_4215_810a_b86cd3346ad0_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _8b80ee53_408d_4215_810a_b86cd3346ad0_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _8b80ee53_408d_4215_810a_b86cd3346ad0_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _8b80ee53_408d_4215_810a_b86cd3346ad0_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
	</tr>
</table>
@if (_44fed6da_a27f_477c_8fc3_5d84c34c1097_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _44fed6da_a27f_477c_8fc3_5d84c34c1097_buttonVisibilityTest = !_44fed6da_a27f_477c_8fc3_5d84c34c1097_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_9e78494b_188a_4f34_aeba_2459e2d6dd28_Class())">
	<p>This div is a test!</p>
</div>
@code { 
	private bool _055c9dab_15f7_4fe4_802d_ed6626dd764b_buttonVisibilityTest;
	private bool _44fed6da_a27f_477c_8fc3_5d84c34c1097_buttonVisibilityTest;
	private string _8b80ee53_408d_4215_810a_b86cd3346ad0_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_9e78494b_188a_4f34_aeba_2459e2d6dd28_Class()
	{
		return "alert alert-info";
	}
} 
