@using Telerik.Blazor.Components;
@if (_087154a9_892a_41e6_853f_7c8cab7a2b23_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _087154a9_892a_41e6_853f_7c8cab7a2b23_buttonVisibilityTest = !_087154a9_892a_41e6_853f_7c8cab7a2b23_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _59a01ea6_b0b7_4c80_8831_826fe7126645_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _59a01ea6_b0b7_4c80_8831_826fe7126645_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _59a01ea6_b0b7_4c80_8831_826fe7126645_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _cad53729_d2e7_4896_923b_0c58543b8f1e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _cad53729_d2e7_4896_923b_0c58543b8f1e_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _cad53729_d2e7_4896_923b_0c58543b8f1e_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _cad53729_d2e7_4896_923b_0c58543b8f1e_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _cad53729_d2e7_4896_923b_0c58543b8f1e_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _94b90c0e_d336_4c01_a01a_e0e28d331b42_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _fa4fed9f_0e4b_4d34_bb9a_bf57a77e0a33_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _fa4fed9f_0e4b_4d34_bb9a_bf57a77e0a33_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _fa4fed9f_0e4b_4d34_bb9a_bf57a77e0a33_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_f4a40585_392a_401e_898e_44d033b60e3d_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f4a40585_392a_401e_898e_44d033b60e3d_buttonVisibilityTest = !_f4a40585_392a_401e_898e_44d033b60e3d_buttonVisibilityTest"> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col2Row1
				</td>
				<td>
					Col3Row1
				</td>
				<td>
					Col1Row2
				</td>
				<td>
					Col2Row2
				</td>
				<td>
					Col3Row2
				</td>
				<td>
					Col1Row3
				</td>
				<td>
					Col2Row3
				</td>
				<td>
					Col3Row3
				</td>
				<td>
					Col1Row4
				</td>
				<td>
					Col2Row4
				</td>
				<td>
					Col3Row4
				</td>
				<td>
					Col1Row5
				</td>
				<td>
					Col2Row5
				</td>
				<td>
					Col3Row5
				</td>
			</tr>
		</table>
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_dd584b8d_674e_493f_85fd_211a2b39abeb_GridOnRead"> 
	<GridColumns> 
		<a href="#">
			@(GetAnchor_d89d1c54_69c9_490c_bec4_62e86e2ad7d7_Text())
		</a>
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _087154a9_892a_41e6_853f_7c8cab7a2b23_buttonVisibilityTest;
	private bool _f4a40585_392a_401e_898e_44d033b60e3d_buttonVisibilityTest;
	private string _59a01ea6_b0b7_4c80_8831_826fe7126645_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _cad53729_d2e7_4896_923b_0c58543b8f1e_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _94b90c0e_d336_4c01_a01a_e0e28d331b42_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _fa4fed9f_0e4b_4d34_bb9a_bf57a77e0a33_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_d89d1c54_69c9_490c_bec4_62e86e2ad7d7_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _dd584b8d_674e_493f_85fd_211a2b39abeb_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
