@using Telerik.Blazor.Components;
@if (_32236f52_ba6b_44ca_a08a_7264d3417df9_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _32236f52_ba6b_44ca_a08a_7264d3417df9_buttonVisibilityTest = !_32236f52_ba6b_44ca_a08a_7264d3417df9_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7953fe50_2b75_42ee_8126_82d557d17579_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _7953fe50_2b75_42ee_8126_82d557d17579_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _7953fe50_2b75_42ee_8126_82d557d17579_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _7953fe50_2b75_42ee_8126_82d557d17579_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _7953fe50_2b75_42ee_8126_82d557d17579_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_73b66c89_2dca_464f_ba9e_b08aedc623f8_Text())
</a>
@if (_f3e65b14_a95b_4846_929f_6b3d9d823b8e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f3e65b14_a95b_4846_929f_6b3d9d823b8e_buttonVisibilityTest = !_f3e65b14_a95b_4846_929f_6b3d9d823b8e_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_ab9e469c_62eb_41c2_b855_1d52ccbd9ef2_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7be32b0a_8ff4_4216_a4ae_e9dc526c8b41_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _7be32b0a_8ff4_4216_a4ae_e9dc526c8b41_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _7be32b0a_8ff4_4216_a4ae_e9dc526c8b41_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _7be32b0a_8ff4_4216_a4ae_e9dc526c8b41_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _7be32b0a_8ff4_4216_a4ae_e9dc526c8b41_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_db27eb1c_ee5a_4470_8ca0_bdfcfdd8f3ea_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _db27eb1c_ee5a_4470_8ca0_bdfcfdd8f3ea_buttonVisibilityTest = !_db27eb1c_ee5a_4470_8ca0_bdfcfdd8f3ea_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_89e1e24a_d52a_44e0_bb1e_dc4a80551c1a_Text())
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col2Row1
			</td>
			<td>
				Col3Row1
			</td>
			<td>
				Col1Row2
			</td>
			<td>
				Col2Row2
			</td>
			<td>
				Col3Row2
			</td>
			<td>
				Col1Row3
			</td>
			<td>
				Col2Row3
			</td>
			<td>
				Col3Row3
			</td>
			<td>
				Col1Row4
			</td>
			<td>
				Col2Row4
			</td>
			<td>
				Col3Row4
			</td>
			<td>
				Col1Row5
			</td>
			<td>
				Col2Row5
			</td>
			<td>
				Col3Row5
			</td>
		</tr>
	</table>
</a>
@code { 
	private bool _32236f52_ba6b_44ca_a08a_7264d3417df9_buttonVisibilityTest;
	private bool _f3e65b14_a95b_4846_929f_6b3d9d823b8e_buttonVisibilityTest;
	private bool _db27eb1c_ee5a_4470_8ca0_bdfcfdd8f3ea_buttonVisibilityTest;
	private string _7953fe50_2b75_42ee_8126_82d557d17579_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_73b66c89_2dca_464f_ba9e_b08aedc623f8_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_ab9e469c_62eb_41c2_b855_1d52ccbd9ef2_Class()
	{
		return "alert alert-info";
	}
	private string _7be32b0a_8ff4_4216_a4ae_e9dc526c8b41_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_89e1e24a_d52a_44e0_bb1e_dc4a80551c1a_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
