@using Telerik.Blazor.Components;
<div class="@(Get_f5695c60_6574_4300_8766_43c90034da38_Class())">
	<button>
		This is a test button! 
	</button>
</div>
@if (_b38b42f8_a7e8_42a9_b534_1f9506acdba2_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _b38b42f8_a7e8_42a9_b534_1f9506acdba2_buttonVisibilityTest = !_b38b42f8_a7e8_42a9_b534_1f9506acdba2_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_8919cb41_2649_4f84_a06b_02b4d35c8feb_Class())">
	<div class="@(Get_990a7a10_93cd_4427_967d_06e79232791e_Class())">
		<button>
			This is a test button! 
		</button>
	</div>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest = !_7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
	</tr>
</table>
@code { 
	private bool _b38b42f8_a7e8_42a9_b534_1f9506acdba2_buttonVisibilityTest;
	private bool _7bb90ca6_9ec1_4a1e_ac54_3ad7000f1705_buttonVisibilityTest;
	private string Get_f5695c60_6574_4300_8766_43c90034da38_Class()
	{
		return "alert alert-info";
	}
	private string Get_990a7a10_93cd_4427_967d_06e79232791e_Class()
	{
		return "alert alert-info";
	}
	private string Get_8919cb41_2649_4f84_a06b_02b4d35c8feb_Class()
	{
		return "alert alert-info";
	}
} 
