@using Telerik.Blazor.Components;
@if (_780f03f7_0d82_4d01_965b_bc5d8c14e6c5_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _780f03f7_0d82_4d01_965b_bc5d8c14e6c5_buttonVisibilityTest = !_780f03f7_0d82_4d01_965b_bc5d8c14e6c5_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	<a href="#">
		@(GetAnchor_d9dae804_368f_4953_82cf_74522adfa648_Text())
	</a>
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
<div class="@(Get_985099bd_954c_461d_90ff_3398b47e9be6_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_ffdc9c5a_db93_4451_8817_bc691228686c_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_5efce4ff_21cb_4ce7_b48a_30485f05bcdf_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@if (_961e80fb_9e60_4633_8dfa_746aa7d16647_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _961e80fb_9e60_4633_8dfa_746aa7d16647_buttonVisibilityTest = !_961e80fb_9e60_4633_8dfa_746aa7d16647_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _78691919_0db0_49c8_b133_67c677e723e5_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _78691919_0db0_49c8_b133_67c677e723e5_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
@code { 
	private bool _780f03f7_0d82_4d01_965b_bc5d8c14e6c5_buttonVisibilityTest;
	private bool _961e80fb_9e60_4633_8dfa_746aa7d16647_buttonVisibilityTest;
	private string GetAnchor_d9dae804_368f_4953_82cf_74522adfa648_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_985099bd_954c_461d_90ff_3398b47e9be6_Class()
	{
		return "alert alert-info";
	}
	private string Get_ffdc9c5a_db93_4451_8817_bc691228686c_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_5efce4ff_21cb_4ce7_b48a_30485f05bcdf_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _78691919_0db0_49c8_b133_67c677e723e5_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
