@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _272d751f_23b1_48b6_a70c_26fed3afd28f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_fa24155b_9e1a_4711_9803_9ab1f9356f8f_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _fa24155b_9e1a_4711_9803_9ab1f9356f8f_buttonVisibilityTest = !_fa24155b_9e1a_4711_9803_9ab1f9356f8f_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
@code { 
	private bool _fa24155b_9e1a_4711_9803_9ab1f9356f8f_buttonVisibilityTest;
	private string _272d751f_23b1_48b6_a70c_26fed3afd28f_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
