
<div class="@(Get_77446f16_a8b1_4413_9b22_b91109487c26_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_a23f5d9e_d36d_4c23_9864_b139f6b63a82_Text())
</a>
<a href="#">
	@(GetAnchor_acd0e645_af05_4a13_b1a6_174f3da1a929_Text())
</a>
@code { 

	private string Get_77446f16_a8b1_4413_9b22_b91109487c26_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_a23f5d9e_d36d_4c23_9864_b139f6b63a82_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_acd0e645_af05_4a13_b1a6_174f3da1a929_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
