
<a href="#">
	@(GetAnchor_b66f6e01_2963_4d77_bf5a_f79e1bbfbc55_Text())
</a>
@code { 

	private string GetAnchor_b66f6e01_2963_4d77_bf5a_f79e1bbfbc55_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
