@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
@if (_a2a4048d_4a64_4cc0_959b_d936727cdfab_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a2a4048d_4a64_4cc0_959b_d936727cdfab_buttonVisibilityTest = !_a2a4048d_4a64_4cc0_959b_d936727cdfab_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _a2a4048d_4a64_4cc0_959b_d936727cdfab_buttonVisibilityTest;

} 
