@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_fd14889b_456b_4da5_9544_7000e776bb85_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
	</tr>
</table>
@if (_7cd9573b_ea68_4cc8_be3a_3c3bb5ae7a34_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _7cd9573b_ea68_4cc8_be3a_3c3bb5ae7a34_buttonVisibilityTest = !_7cd9573b_ea68_4cc8_be3a_3c3bb5ae7a34_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_2c7c6c3f_439f_4916_9cbc_77060beb2660_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _2c7c6c3f_439f_4916_9cbc_77060beb2660_buttonVisibilityTest = !_2c7c6c3f_439f_4916_9cbc_77060beb2660_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ab7b41f9_8f75_4191_8a2e_662e7db24d18_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ab7b41f9_8f75_4191_8a2e_662e7db24d18_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _7cd9573b_ea68_4cc8_be3a_3c3bb5ae7a34_buttonVisibilityTest;
	private bool _2c7c6c3f_439f_4916_9cbc_77060beb2660_buttonVisibilityTest;
	private void _fd14889b_456b_4da5_9544_7000e776bb85_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _ab7b41f9_8f75_4191_8a2e_662e7db24d18_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
