
<div class="@(Get_061eec98_39d9_4330_8d2b_3f9d00e28d34_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_061eec98_39d9_4330_8d2b_3f9d00e28d34_Class()
	{
		return "alert alert-info";
	}
} 
