
<div class="@(Get_c321644d_6add_4515_9a33_80efcc994b15_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_c321644d_6add_4515_9a33_80efcc994b15_Class()
	{
		return "alert alert-info";
	}
} 
