
<div class="@(Get_785c9e9b_f24c_48ed_b914_4efc0322000d_Class())">
	<p>This div is a test!</p>
</div>
<button>
	This is a test button! 
</button>
@code { 

	private string Get_785c9e9b_f24c_48ed_b914_4efc0322000d_Class()
	{
		return "alert alert-info";
	}
} 
