@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1160c946_e74a_489c_a1f8_51f45ed28ac3_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1160c946_e74a_489c_a1f8_51f45ed28ac3_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _1160c946_e74a_489c_a1f8_51f45ed28ac3_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _52e0c0a5_ebb5_4666_bb28_a2d76dfe9822_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _52e0c0a5_ebb5_4666_bb28_a2d76dfe9822_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _52e0c0a5_ebb5_4666_bb28_a2d76dfe9822_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _52e0c0a5_ebb5_4666_bb28_a2d76dfe9822_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_2ff2328a_fe28_4154_a2da_cd18e46b402d_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			@if (_75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest = !_75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest = !_75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest = !_75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest = !_75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _8c80416e_2761_4c76_a12e_4650fb14ef1d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _8c80416e_2761_4c76_a12e_4650fb14ef1d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _8c80416e_2761_4c76_a12e_4650fb14ef1d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _8c80416e_2761_4c76_a12e_4650fb14ef1d_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _8c80416e_2761_4c76_a12e_4650fb14ef1d_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _108f741e_70ee_42a4_a35b_29a03c38e9f8_buttonVisibilityTest;
	private bool _75f0cab2_ef4d_457d_bbe0_0dc3a0d2e48c_buttonVisibilityTest;
	private string _1160c946_e74a_489c_a1f8_51f45ed28ac3_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _749cdcb5_e06e_4c51_8580_da8d5e1eea62_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _52e0c0a5_ebb5_4666_bb28_a2d76dfe9822_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_2ff2328a_fe28_4154_a2da_cd18e46b402d_Class()
	{
		return "alert alert-info";
	}
	private string _8c80416e_2761_4c76_a12e_4650fb14ef1d_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
