@using Telerik.Blazor.Components;
@if (_f39f8d3f_f6bc_4fb0_9dd7_f9e732ba5c59_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f39f8d3f_f6bc_4fb0_9dd7_f9e732ba5c59_buttonVisibilityTest = !_f39f8d3f_f6bc_4fb0_9dd7_f9e732ba5c59_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_947d13ab_a3e1_431d_af08_6d5c14830fa4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _947d13ab_a3e1_431d_af08_6d5c14830fa4_buttonVisibilityTest = !_947d13ab_a3e1_431d_af08_6d5c14830fa4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@code { 
	private bool _f39f8d3f_f6bc_4fb0_9dd7_f9e732ba5c59_buttonVisibilityTest;
	private bool _947d13ab_a3e1_431d_af08_6d5c14830fa4_buttonVisibilityTest;

} 
