
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_8c2ba7f8_0a5e_4589_9a34_dfb297346da9_Text())
</a>
@code { 

	private string GetAnchor_8c2ba7f8_0a5e_4589_9a34_dfb297346da9_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
