@using Telerik.Blazor.Components;
<button>
	<button>
		This is a test button! 
	</button>
</button>
@if (_389d3644_3d8e_406b_b533_d09a35566864_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _389d3644_3d8e_406b_b533_d09a35566864_buttonVisibilityTest = !_389d3644_3d8e_406b_b533_d09a35566864_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _389d3644_3d8e_406b_b533_d09a35566864_buttonVisibilityTest;

} 
