
<div class="@(Get_b48fb2cf_c35c_427b_b220_fa60b042bdae_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_bafc2307_3019_457c_afa0_a89c3b69dca0_Text())
</a>
@code { 

	private string Get_b48fb2cf_c35c_427b_b220_fa60b042bdae_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_bafc2307_3019_457c_afa0_a89c3b69dca0_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
