@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_a6fe700e_d4d7_4f9c_874c_353fce7aa8b6_GridOnRead"> 
	<GridColumns> 
		<div class="@(Get_19999eea_3810_4fd3_ad12_d76dd765f54f_Class())">
			<p>This div is a test!</p>
		</div>
	</GridColumns> 
</TelerikGrid> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _cfc3ad07_c866_44fa_957a_c87f371c97d7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string Get_19999eea_3810_4fd3_ad12_d76dd765f54f_Class()
	{
		return "alert alert-info";
	}
	private void _a6fe700e_d4d7_4f9c_874c_353fce7aa8b6_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _cfc3ad07_c866_44fa_957a_c87f371c97d7_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
