
<div class="@(Get_e3f7d97e_a006_4392_86b9_6e3f6a2932e8_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_e76037e8_7cf5_438b_a358_e78443dea021_Text())
</a>
<button>
	This is a test button! 
</button>
<div class="@(Get_e70d6ca8_de70_4907_8968_3095cf54cb4a_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
@code { 

	private string Get_e3f7d97e_a006_4392_86b9_6e3f6a2932e8_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_e76037e8_7cf5_438b_a358_e78443dea021_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_e70d6ca8_de70_4907_8968_3095cf54cb4a_Class()
	{
		return "alert alert-info";
	}
} 
