
<a href="#">
	@(GetAnchor_eef16de6_62c6_417e_9faa_b106142cb5b8_Text())
</a>
@code { 

	private string GetAnchor_eef16de6_62c6_417e_9faa_b106142cb5b8_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
