@using Telerik.Blazor.Components;
@if (_68db45f4_513d_4e97_b642_93843fe65784_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _68db45f4_513d_4e97_b642_93843fe65784_buttonVisibilityTest = !_68db45f4_513d_4e97_b642_93843fe65784_buttonVisibilityTest"> 
		<button>
			This is a test button! 
		</button>
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest = !_0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_47982632_f3cc_4a23_a639_5a151673dcd9_GridOnRead"> 
	<GridColumns> 
		@if (_777c64f6_c959_48de_96b2_ec9c0fc07426_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _777c64f6_c959_48de_96b2_ec9c0fc07426_buttonVisibilityTest = !_777c64f6_c959_48de_96b2_ec9c0fc07426_buttonVisibilityTest"> 
				<a href="#">
					@(GetAnchor_0401aa8d_8419_4bf6_8882_4b4742cec601_Text())
				</a>
			</TelerikButton> 
		}
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _68db45f4_513d_4e97_b642_93843fe65784_buttonVisibilityTest;
	private bool _0031126d_7396_46e7_86f7_ffd21db9e8aa_buttonVisibilityTest;
	private bool _777c64f6_c959_48de_96b2_ec9c0fc07426_buttonVisibilityTest;
	private string GetAnchor_0401aa8d_8419_4bf6_8882_4b4742cec601_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _47982632_f3cc_4a23_a639_5a151673dcd9_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
