@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
				</tr>
				<tr>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
					<td>
						@if (_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest) 
						{
							<TelerikButton OnClick="() => _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest = !_d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest"> 
								This is a test button! 
							</TelerikButton> 
						}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@if (_6fe1193e_5184_4c25_837e_e6fdfaba6ed5_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6fe1193e_5184_4c25_837e_e6fdfaba6ed5_buttonVisibilityTest = !_6fe1193e_5184_4c25_837e_e6fdfaba6ed5_buttonVisibilityTest"> 
		<button>
			This is a test button! 
		</button>
	</TelerikButton> 
}
@code { 
	private bool _d0513e21_5e7f_479d_941e_dc086562e7a1_buttonVisibilityTest;
	private bool _6fe1193e_5184_4c25_837e_e6fdfaba6ed5_buttonVisibilityTest;

} 
