
<div class="@(Get_cd468a85_eada_4200_8e9a_9ccb17814e75_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_cd468a85_eada_4200_8e9a_9ccb17814e75_Class()
	{
		return "alert alert-info";
	}
} 
