@using Telerik.Blazor.Components;
@if (_d147d61a_2fef_4655_985f_3e1d3d46bed0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _d147d61a_2fef_4655_985f_3e1d3d46bed0_buttonVisibilityTest = !_d147d61a_2fef_4655_985f_3e1d3d46bed0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
	</tr>
</table>
@code { 
	private bool _d147d61a_2fef_4655_985f_3e1d3d46bed0_buttonVisibilityTest;

} 
