@using Telerik.Blazor.Components;
<div class="@(Get_1f37f1eb_f372_48ca_af92_fb1e2b820021_Class())">
	<p>This div is a test!</p>
</div>
@if (_0fc57748_2b20_4e19_9b71_f050b5054384_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _0fc57748_2b20_4e19_9b71_f050b5054384_buttonVisibilityTest = !_0fc57748_2b20_4e19_9b71_f050b5054384_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_08cbca30_2020_4889_bd74_1a84e2dd2beb_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _08cbca30_2020_4889_bd74_1a84e2dd2beb_buttonVisibilityTest = !_08cbca30_2020_4889_bd74_1a84e2dd2beb_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _680df6d1_b522_4749_a64b_5a52b0a4a11d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _680df6d1_b522_4749_a64b_5a52b0a4a11d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _680df6d1_b522_4749_a64b_5a52b0a4a11d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _680df6d1_b522_4749_a64b_5a52b0a4a11d_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _680df6d1_b522_4749_a64b_5a52b0a4a11d_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ab00a1a7_f807_42e3_b0dd_f08cfff3dd90_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ab00a1a7_f807_42e3_b0dd_f08cfff3dd90_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _ab00a1a7_f807_42e3_b0dd_f08cfff3dd90_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _ab00a1a7_f807_42e3_b0dd_f08cfff3dd90_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _ab00a1a7_f807_42e3_b0dd_f08cfff3dd90_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c07c4d01_9281_4ec1_88dc_9a77020d04d8_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c07c4d01_9281_4ec1_88dc_9a77020d04d8_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _c07c4d01_9281_4ec1_88dc_9a77020d04d8_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _c07c4d01_9281_4ec1_88dc_9a77020d04d8_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _cb12d12f_7c54_4413_9e93_5c96d6152f30_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _cb12d12f_7c54_4413_9e93_5c96d6152f30_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@if (_b4c3d32f_20a5_4bda_9a58_321b4c8264a5_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _b4c3d32f_20a5_4bda_9a58_321b4c8264a5_buttonVisibilityTest = !_b4c3d32f_20a5_4bda_9a58_321b4c8264a5_buttonVisibilityTest"> 
				This is a test button! 
			</TelerikButton> 
		}
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _cb12d12f_7c54_4413_9e93_5c96d6152f30_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _cb12d12f_7c54_4413_9e93_5c96d6152f30_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<a href="#">
	@(GetAnchor_7ddc4ef8_b599_4e65_9344_7e3ac396c02c_Text())
</a>
@if (_2f8b2b75_d66f_4271_bcd4_de517db877e0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _2f8b2b75_d66f_4271_bcd4_de517db877e0_buttonVisibilityTest = !_2f8b2b75_d66f_4271_bcd4_de517db877e0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _0fc57748_2b20_4e19_9b71_f050b5054384_buttonVisibilityTest;
	private bool _08cbca30_2020_4889_bd74_1a84e2dd2beb_buttonVisibilityTest;
	private bool _83d3d4ff_bc90_44b6_bbb1_cc50f6859392_buttonVisibilityTest;
	private bool _b4c3d32f_20a5_4bda_9a58_321b4c8264a5_buttonVisibilityTest;
	private bool _2f8b2b75_d66f_4271_bcd4_de517db877e0_buttonVisibilityTest;
	private string Get_1f37f1eb_f372_48ca_af92_fb1e2b820021_Class()
	{
		return "alert alert-info";
	}
	private string _680df6d1_b522_4749_a64b_5a52b0a4a11d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _ab00a1a7_f807_42e3_b0dd_f08cfff3dd90_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _c07c4d01_9281_4ec1_88dc_9a77020d04d8_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _cb12d12f_7c54_4413_9e93_5c96d6152f30_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_7ddc4ef8_b599_4e65_9344_7e3ac396c02c_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
