
<a href="#">
	@(GetAnchor_86f0c302_6c35_4ce9_9b5e_564b9b5bee73_Text())
</a>
<button>
	This is a test button! 
</button>
<a href="#">
	@(GetAnchor_6053c84b_e0dd_4773_b315_9a02523f443a_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
	</tr>
</table>
@code { 

	private string GetAnchor_86f0c302_6c35_4ce9_9b5e_564b9b5bee73_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_6053c84b_e0dd_4773_b315_9a02523f443a_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
