@using Telerik.Blazor.Components;
@if (_c8c0cb2c_c215_4bf0_8297_bc2754593ab4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _c8c0cb2c_c215_4bf0_8297_bc2754593ab4_buttonVisibilityTest = !_c8c0cb2c_c215_4bf0_8297_bc2754593ab4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_d2fa64af_3a81_4c43_a6a1_4ddaa1b0973f_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_0ae31a35_83e6_48e6_9a46_06cbe2890c59_Class())">
	<div class="@(Get_e4492d22_8195_446e_95a1_a49538ba8cb4_Class())">
		<p>This div is a test!</p>
	</div>
</div>
@code { 
	private bool _c8c0cb2c_c215_4bf0_8297_bc2754593ab4_buttonVisibilityTest;
	private string Get_d2fa64af_3a81_4c43_a6a1_4ddaa1b0973f_Class()
	{
		return "alert alert-info";
	}
	private string Get_e4492d22_8195_446e_95a1_a49538ba8cb4_Class()
	{
		return "alert alert-info";
	}
	private string Get_0ae31a35_83e6_48e6_9a46_06cbe2890c59_Class()
	{
		return "alert alert-info";
	}
} 
