
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<div class="@(Get_dc9ef6d6_45e0_4410_b68a_255e2c01dde1_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_dc9ef6d6_45e0_4410_b68a_255e2c01dde1_Class()
	{
		return "alert alert-info";
	}
} 
