
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
	</tr>
</table>
<div class="@(Get_cbdbed99_33ab_4b3c_bfe7_82cada0148ee_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_994892e9_a829_4032_8ee1_7100825c2044_Text())
</a>
<button>
	This is a test button! 
</button>
<div class="@(Get_fbd896db_1732_4ffa_846f_d0942eacc5d1_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_cbdbed99_33ab_4b3c_bfe7_82cada0148ee_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_994892e9_a829_4032_8ee1_7100825c2044_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_fbd896db_1732_4ffa_846f_d0942eacc5d1_Class()
	{
		return "alert alert-info";
	}
} 
