@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
@if (_e1829d84_094e_4a60_80b9_2d2590c26bea_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _e1829d84_094e_4a60_80b9_2d2590c26bea_buttonVisibilityTest = !_e1829d84_094e_4a60_80b9_2d2590c26bea_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_7ed9e110_96a3_4b6f_8c34_17b798416612_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _7ed9e110_96a3_4b6f_8c34_17b798416612_buttonVisibilityTest = !_7ed9e110_96a3_4b6f_8c34_17b798416612_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest = !_04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
	</tr>
</table>
@code { 
	private bool _e1829d84_094e_4a60_80b9_2d2590c26bea_buttonVisibilityTest;
	private bool _7ed9e110_96a3_4b6f_8c34_17b798416612_buttonVisibilityTest;
	private bool _04228d03_d87f_44fb_9c4d_ee8a8c5311fd_buttonVisibilityTest;

} 
