@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _d3b1b92a_494c_4be6_9d96_ad31beabfc65_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _d3b1b92a_494c_4be6_9d96_ad31beabfc65_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_5cffb167_372b_4c85_ac5f_278dc87bcf2f_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _70148898_6660_42e9_8ac7_c489daa268e7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _70148898_6660_42e9_8ac7_c489daa268e7_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _70148898_6660_42e9_8ac7_c489daa268e7_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _70148898_6660_42e9_8ac7_c489daa268e7_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
@code { 

	private string _d3b1b92a_494c_4be6_9d96_ad31beabfc65_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_5cffb167_372b_4c85_ac5f_278dc87bcf2f_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _70148898_6660_42e9_8ac7_c489daa268e7_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
