@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
	</tr>
</table>
@if (_9e8dab0b_9cc1_411d_8622_7c7feee0b7be_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _9e8dab0b_9cc1_411d_8622_7c7feee0b7be_buttonVisibilityTest = !_9e8dab0b_9cc1_411d_8622_7c7feee0b7be_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _9e8dab0b_9cc1_411d_8622_7c7feee0b7be_buttonVisibilityTest;

} 
