@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
@if (_d64c2468_41df_479c_bb65_1f50cfa73d07_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _d64c2468_41df_479c_bb65_1f50cfa73d07_buttonVisibilityTest = !_d64c2468_41df_479c_bb65_1f50cfa73d07_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _d64c2468_41df_479c_bb65_1f50cfa73d07_buttonVisibilityTest;

} 
