@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
<div class="@(Get_0aad3d2f_99d6_4885_a24f_9b44a6b12a64_Class())">
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_215ab7a9_679f_4984_88fd_6142a8c02c7f_GridOnRead"> 
		<GridColumns> 
			@if (_aff92c63_7d2c_4deb_9607_43fdd2aed185_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _aff92c63_7d2c_4deb_9607_43fdd2aed185_buttonVisibilityTest = !_aff92c63_7d2c_4deb_9607_43fdd2aed185_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</GridColumns> 
	</TelerikGrid> 
</div>
@code { 
	private bool _aff92c63_7d2c_4deb_9607_43fdd2aed185_buttonVisibilityTest;
	private void _215ab7a9_679f_4984_88fd_6142a8c02c7f_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_0aad3d2f_99d6_4885_a24f_9b44a6b12a64_Class()
	{
		return "alert alert-info";
	}
} 
