@using Telerik.Blazor.Components;
<div class="@(Get_5e483499_d4ee_4d0f_9e1c_2d7f4168dd2d_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_4f30598c_2380_452b_a1a6_b7327ed54a47_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
	</tr>
</table>
@if (_e952a115_5b9c_40e5_b4b1_a682c753b0c0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _e952a115_5b9c_40e5_b4b1_a682c753b0c0_buttonVisibilityTest = !_e952a115_5b9c_40e5_b4b1_a682c753b0c0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _e952a115_5b9c_40e5_b4b1_a682c753b0c0_buttonVisibilityTest;
	private string Get_5e483499_d4ee_4d0f_9e1c_2d7f4168dd2d_Class()
	{
		return "alert alert-info";
	}
	private string Get_4f30598c_2380_452b_a1a6_b7327ed54a47_Class()
	{
		return "alert alert-info";
	}
} 
