@using Telerik.Blazor.Components;
<div class="@(Get_26830582_3b61_4c16_8415_91154e073754_Class())">
	<p>This div is a test!</p>
</div>
@if (_1f06a10b_27dc_4632_a1f9_b04d00fd32e0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1f06a10b_27dc_4632_a1f9_b04d00fd32e0_buttonVisibilityTest = !_1f06a10b_27dc_4632_a1f9_b04d00fd32e0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _1f06a10b_27dc_4632_a1f9_b04d00fd32e0_buttonVisibilityTest;
	private string Get_26830582_3b61_4c16_8415_91154e073754_Class()
	{
		return "alert alert-info";
	}
} 
