@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _67272823_d6c4_4ed1_be52_85cb69eb33f5_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _67272823_d6c4_4ed1_be52_85cb69eb33f5_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _67272823_d6c4_4ed1_be52_85cb69eb33f5_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_1dcde60f_a573_4cf4_9e1b_5a12ab4b3746_Text())
</a>
@code { 

	private string _67272823_d6c4_4ed1_be52_85cb69eb33f5_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_1dcde60f_a573_4cf4_9e1b_5a12ab4b3746_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
