@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _34fcba6a_9f6d_4cf1_a679_179e3249fc3f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _34fcba6a_9f6d_4cf1_a679_179e3249fc3f_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _34fcba6a_9f6d_4cf1_a679_179e3249fc3f_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _34fcba6a_9f6d_4cf1_a679_179e3249fc3f_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _669b70bc_1b64_4ec7_8efd_272cc35a9256_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _669b70bc_1b64_4ec7_8efd_272cc35a9256_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _669b70bc_1b64_4ec7_8efd_272cc35a9256_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
			</tr>
		</table>
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _4fd656c5_eadb_4e2b_bfbf_73c611fa02bd_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _4fd656c5_eadb_4e2b_bfbf_73c611fa02bd_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _4fd656c5_eadb_4e2b_bfbf_73c611fa02bd_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _4fd656c5_eadb_4e2b_bfbf_73c611fa02bd_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _4fd656c5_eadb_4e2b_bfbf_73c611fa02bd_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _20e456b4_ed82_4341_ae05_417c075347e3_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _20e456b4_ed82_4341_ae05_417c075347e3_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_1d45a4d6_2bfa_4112_a62a_dbddb24e71e2_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1d45a4d6_2bfa_4112_a62a_dbddb24e71e2_buttonVisibilityTest = !_1d45a4d6_2bfa_4112_a62a_dbddb24e71e2_buttonVisibilityTest"> 
		@if (_a3967517_1bfa_4f7f_a0cd_7371a2a326a8_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _a3967517_1bfa_4f7f_a0cd_7371a2a326a8_buttonVisibilityTest = !_a3967517_1bfa_4f7f_a0cd_7371a2a326a8_buttonVisibilityTest"> 
				This is a test button! 
			</TelerikButton> 
		}
	</TelerikButton> 
}
@code { 
	private bool _a3967517_1bfa_4f7f_a0cd_7371a2a326a8_buttonVisibilityTest;
	private bool _1d45a4d6_2bfa_4112_a62a_dbddb24e71e2_buttonVisibilityTest;
	private string _34fcba6a_9f6d_4cf1_a679_179e3249fc3f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _669b70bc_1b64_4ec7_8efd_272cc35a9256_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _4fd656c5_eadb_4e2b_bfbf_73c611fa02bd_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _d68dae69_53c9_4030_8eb1_91b4dc506ede_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _20e456b4_ed82_4341_ae05_417c075347e3_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
