
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
<div class="@(Get_61c0f345_dd68_40e1_8520_b4948224c11e_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_61c0f345_dd68_40e1_8520_b4948224c11e_Class()
	{
		return "alert alert-info";
	}
} 
