@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _8eca2d2d_2147_4696_a5d5_086b2337f30d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _8eca2d2d_2147_4696_a5d5_086b2337f30d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _8eca2d2d_2147_4696_a5d5_086b2337f30d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _8eca2d2d_2147_4696_a5d5_086b2337f30d_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_81820232_b4f9_48d6_a65a_4e77ee2d7757_Text())
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _98973ea4_a6b8_4532_9e8c_f2cb99604544_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip1Data = _98973ea4_a6b8_4532_9e8c_f2cb99604544_GetTabStripData(); }
			@tabStrip1Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip2Data = _98973ea4_a6b8_4532_9e8c_f2cb99604544_GetTabStripData(); }
			@tabStrip2Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip3Data = _98973ea4_a6b8_4532_9e8c_f2cb99604544_GetTabStripData(); }
			@tabStrip3Data
		</TabStripTab> 
	</TelerikTabStrip> 
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _819e55af_fd39_47e1_9eaf_b537e2c98ac7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
@code { 

	private string _8eca2d2d_2147_4696_a5d5_086b2337f30d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _98973ea4_a6b8_4532_9e8c_f2cb99604544_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_81820232_b4f9_48d6_a65a_4e77ee2d7757_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _fafbde54_cedf_4525_8b7a_1a549d996556_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _819e55af_fd39_47e1_9eaf_b537e2c98ac7_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
