@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_3f9f6ab0_a039_4c01_b249_daa0eece29b8_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _2314e706_da57_44ec_870f_e647d9df2126_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _2314e706_da57_44ec_870f_e647d9df2126_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _3265091a_4bdf_499a_9466_657d9b42f966_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _3265091a_4bdf_499a_9466_657d9b42f966_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _3265091a_4bdf_499a_9466_657d9b42f966_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_3f6ab420_724f_4a6d_ba7f_0f008662e6bf_Text())
</a>
@code { 

	private string GetAnchor_3f9f6ab0_a039_4c01_b249_daa0eece29b8_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _2314e706_da57_44ec_870f_e647d9df2126_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _3265091a_4bdf_499a_9466_657d9b42f966_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_3f6ab420_724f_4a6d_ba7f_0f008662e6bf_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
