@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_a86d0c9b_9c0b_4be7_b2cf_a9f44af0e134_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_ec0d20cd_3769_4a2a_a731_dc354e60e80d_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _0498b99c_d1b9_4dd8_b500_0427109d79c4_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
	</tr>
</table>
@if (_327f5f02_be38_48f7_8f5a_69afa1bca017_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _327f5f02_be38_48f7_8f5a_69afa1bca017_buttonVisibilityTest = !_327f5f02_be38_48f7_8f5a_69afa1bca017_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _327f5f02_be38_48f7_8f5a_69afa1bca017_buttonVisibilityTest;
	private void _a86d0c9b_9c0b_4be7_b2cf_a9f44af0e134_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_ec0d20cd_3769_4a2a_a731_dc354e60e80d_Class()
	{
		return "alert alert-info";
	}
	private string _0498b99c_d1b9_4dd8_b500_0427109d79c4_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
