@using Telerik.Blazor.Components;
@if (_5175fa0f_89eb_40c8_96e6_fd21f8790f58_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _5175fa0f_89eb_40c8_96e6_fd21f8790f58_buttonVisibilityTest = !_5175fa0f_89eb_40c8_96e6_fd21f8790f58_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_2871ad68_3cec_4284_b211_ddf9dca1abec_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
	</tr>
</table>
@code { 
	private bool _5175fa0f_89eb_40c8_96e6_fd21f8790f58_buttonVisibilityTest;
	private string Get_2871ad68_3cec_4284_b211_ddf9dca1abec_Class()
	{
		return "alert alert-info";
	}
} 
