@using Telerik.Blazor.Components;
@if (_93194cfe_4818_4280_a727_1a5f5cdd4b25_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _93194cfe_4818_4280_a727_1a5f5cdd4b25_buttonVisibilityTest = !_93194cfe_4818_4280_a727_1a5f5cdd4b25_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_22c48cae_e240_4906_9f48_22b6cce63a03_Class())">
	<p>This div is a test!</p>
</div>
@code { 
	private bool _93194cfe_4818_4280_a727_1a5f5cdd4b25_buttonVisibilityTest;
	private string Get_22c48cae_e240_4906_9f48_22b6cce63a03_Class()
	{
		return "alert alert-info";
	}
} 
