@using Telerik.Blazor.Components;
@if (_daaae5dc_3a92_4422_a6fe_eee836894b9e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _daaae5dc_3a92_4422_a6fe_eee836894b9e_buttonVisibilityTest = !_daaae5dc_3a92_4422_a6fe_eee836894b9e_buttonVisibilityTest"> 
		<a href="#">
			@(GetAnchor_661ec9eb_e8e5_41ea_9ca5_e1c077d205b2_Text())
		</a>
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_e3ea60a8_f94f_4739_9f5f_ec7985673697_Text())
</a>
@code { 
	private bool _daaae5dc_3a92_4422_a6fe_eee836894b9e_buttonVisibilityTest;
	private string GetAnchor_661ec9eb_e8e5_41ea_9ca5_e1c077d205b2_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_e3ea60a8_f94f_4739_9f5f_ec7985673697_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
