@using Telerik.Blazor.Components;
<div class="@(Get_ec44d0a1_4ccf_4da4_b491_0c8b281182ba_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _908027a4_e598_4dab_955e_16a996b60544_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _908027a4_e598_4dab_955e_16a996b60544_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _908027a4_e598_4dab_955e_16a996b60544_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _908027a4_e598_4dab_955e_16a996b60544_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _908027a4_e598_4dab_955e_16a996b60544_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string Get_ec44d0a1_4ccf_4da4_b491_0c8b281182ba_Class()
	{
		return "alert alert-info";
	}
	private string _908027a4_e598_4dab_955e_16a996b60544_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
