
<a href="#">
	@(GetAnchor_49167f74_6330_4788_95c8_6f8eba879b6e_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col1Row5
		</td>
	</tr>
</table>
@code { 

	private string GetAnchor_49167f74_6330_4788_95c8_6f8eba879b6e_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
