@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _563c6f58_929b_42ed_8926_5c0c897bb197_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_fd0c4dd4_4480_4112_99b0_05fb346dbb14_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _fd0c4dd4_4480_4112_99b0_05fb346dbb14_buttonVisibilityTest = !_fd0c4dd4_4480_4112_99b0_05fb346dbb14_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1dd3cd49_9c25_48fa_9f5c_bd386d55cfc5_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1dd3cd49_9c25_48fa_9f5c_bd386d55cfc5_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _51b10988_a884_422a_ab06_8097f2b15758_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _51b10988_a884_422a_ab06_8097f2b15758_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip2Data = _51b10988_a884_422a_ab06_8097f2b15758_GetTabStripData(); }
				@tabStrip2Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip3Data = _51b10988_a884_422a_ab06_8097f2b15758_GetTabStripData(); }
				@tabStrip3Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip4Data = _51b10988_a884_422a_ab06_8097f2b15758_GetTabStripData(); }
				@tabStrip4Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest = !_a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1adc43e5_8f68_4b42_96bf_c8ea327078ca_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1adc43e5_8f68_4b42_96bf_c8ea327078ca_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _1adc43e5_8f68_4b42_96bf_c8ea327078ca_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _1adc43e5_8f68_4b42_96bf_c8ea327078ca_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	<div class="@(Get_a2dd1631_fbe2_4dc2_9dde_f85f3312562c_Class())">
		<p>This div is a test!</p>
	</div>
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
	</tr>
</table>
<div class="@(Get_bea472d0_5bb9_46fe_a753_be2dad501a43_Class())">
	<p>This div is a test!</p>
</div>
@if (_e6fdfc6c_5fcd_4493_9ed5_596ab1b591f4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _e6fdfc6c_5fcd_4493_9ed5_596ab1b591f4_buttonVisibilityTest = !_e6fdfc6c_5fcd_4493_9ed5_596ab1b591f4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _25b4aab3_6c77_4fa9_889c_de04ece96747_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _25b4aab3_6c77_4fa9_889c_de04ece96747_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _25b4aab3_6c77_4fa9_889c_de04ece96747_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _25b4aab3_6c77_4fa9_889c_de04ece96747_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _25b4aab3_6c77_4fa9_889c_de04ece96747_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_230da84a_345d_4fb4_ae4d_a3d1d30b5669_Class())">
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _83554ce9_efff_44c9_8af1_0fd5c67101ec_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip1Data = _83554ce9_efff_44c9_8af1_0fd5c67101ec_GetTabStripData(); }
			@tabStrip1Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip2Data = _83554ce9_efff_44c9_8af1_0fd5c67101ec_GetTabStripData(); }
			@tabStrip2Data
		</TabStripTab> 
	</TelerikTabStrip> 
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _48b9263f_2a09_4e76_aea1_32bbe88a1f3e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _48b9263f_2a09_4e76_aea1_32bbe88a1f3e_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _48b9263f_2a09_4e76_aea1_32bbe88a1f3e_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _48b9263f_2a09_4e76_aea1_32bbe88a1f3e_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
@if (_fd15a5b7_8725_4044_910e_9e341a91288d_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _fd15a5b7_8725_4044_910e_9e341a91288d_buttonVisibilityTest = !_fd15a5b7_8725_4044_910e_9e341a91288d_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _fd0c4dd4_4480_4112_99b0_05fb346dbb14_buttonVisibilityTest;
	private bool _a0b3428f_9025_41ca_ad2f_f29815459ebe_buttonVisibilityTest;
	private bool _e6fdfc6c_5fcd_4493_9ed5_596ab1b591f4_buttonVisibilityTest;
	private bool _fd15a5b7_8725_4044_910e_9e341a91288d_buttonVisibilityTest;
	private string _563c6f58_929b_42ed_8926_5c0c897bb197_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _51b10988_a884_422a_ab06_8097f2b15758_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _1dd3cd49_9c25_48fa_9f5c_bd386d55cfc5_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_a6d636de_04f6_42cd_b1a6_5c8cac10929e_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _1adc43e5_8f68_4b42_96bf_c8ea327078ca_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_a2dd1631_fbe2_4dc2_9dde_f85f3312562c_Class()
	{
		return "alert alert-info";
	}
	private string Get_bea472d0_5bb9_46fe_a753_be2dad501a43_Class()
	{
		return "alert alert-info";
	}
	private string _25b4aab3_6c77_4fa9_889c_de04ece96747_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _83554ce9_efff_44c9_8af1_0fd5c67101ec_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_230da84a_345d_4fb4_ae4d_a3d1d30b5669_Class()
	{
		return "alert alert-info";
	}
	private string _48b9263f_2a09_4e76_aea1_32bbe88a1f3e_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
