@using Telerik.Blazor.Components;
@if (_258f5865_3c86_48cd_ad7d_3587c42eafcd_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _258f5865_3c86_48cd_ad7d_3587c42eafcd_buttonVisibilityTest = !_258f5865_3c86_48cd_ad7d_3587c42eafcd_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<div class="@(Get_4728fa94_e4b2_48c2_a463_ebb4e8152132_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_13fc9de5_e088_44f6_b889_24f621ff531e_Class())">
	<p>This div is a test!</p>
</div>
@if (_55570ede_25a1_45b4_9b27_e91b25318f99_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _55570ede_25a1_45b4_9b27_e91b25318f99_buttonVisibilityTest = !_55570ede_25a1_45b4_9b27_e91b25318f99_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_c4822f6b_075a_4830_909d_14bb3101585b_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _54c7601a_bed1_48f9_9634_386751e11f32_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _54c7601a_bed1_48f9_9634_386751e11f32_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1fa7ae4e_709c_46f1_a62f_7a9c97f8d68b_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1fa7ae4e_709c_46f1_a62f_7a9c97f8d68b_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _1fa7ae4e_709c_46f1_a62f_7a9c97f8d68b_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_5237fcdf_aaeb_4f50_9dc5_3f2d1a0e298f_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _5237fcdf_aaeb_4f50_9dc5_3f2d1a0e298f_buttonVisibilityTest = !_5237fcdf_aaeb_4f50_9dc5_3f2d1a0e298f_buttonVisibilityTest"> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _c733a739_b43b_49a1_bce8_f9a86e5fa6af_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _c733a739_b43b_49a1_bce8_f9a86e5fa6af_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip2Data = _c733a739_b43b_49a1_bce8_f9a86e5fa6af_GetTabStripData(); }
				@tabStrip2Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip3Data = _c733a739_b43b_49a1_bce8_f9a86e5fa6af_GetTabStripData(); }
				@tabStrip3Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
	</tr>
</table>
@code { 
	private bool _258f5865_3c86_48cd_ad7d_3587c42eafcd_buttonVisibilityTest;
	private bool _55570ede_25a1_45b4_9b27_e91b25318f99_buttonVisibilityTest;
	private bool _5237fcdf_aaeb_4f50_9dc5_3f2d1a0e298f_buttonVisibilityTest;
	private string Get_4728fa94_e4b2_48c2_a463_ebb4e8152132_Class()
	{
		return "alert alert-info";
	}
	private string Get_13fc9de5_e088_44f6_b889_24f621ff531e_Class()
	{
		return "alert alert-info";
	}
	private string Get_c4822f6b_075a_4830_909d_14bb3101585b_Class()
	{
		return "alert alert-info";
	}
	private string _54c7601a_bed1_48f9_9634_386751e11f32_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _1fa7ae4e_709c_46f1_a62f_7a9c97f8d68b_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _c733a739_b43b_49a1_bce8_f9a86e5fa6af_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
