@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _82a48f1d_f167_4c3c_8f07_a6da058f5950_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _82a48f1d_f167_4c3c_8f07_a6da058f5950_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _82a48f1d_f167_4c3c_8f07_a6da058f5950_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _82a48f1d_f167_4c3c_8f07_a6da058f5950_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _82a48f1d_f167_4c3c_8f07_a6da058f5950_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_b84b663d_a2f9_4fe3_91e3_b4f27cffaeb7_Text())
</a>
<a href="#">
	@(GetAnchor_204ea7aa_0dee_4a8e_b2be_2f9740a74fd0_Text())
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
			<th>
				Test Header 4
			</th>
		</tr>
		<tr>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
			<td>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</td>
		</tr>
	</table>
</a>
<div class="@(Get_b443fd86_a425_42f9_a2aa_20f416111e57_Class())">
	<a href="#">
		@(GetAnchor_64587100_64d9_4ead_83dc_98b1509efaff_Text())
	</a>
</div>
<button>
	This is a test button! 
</button>
@code { 

	private string _82a48f1d_f167_4c3c_8f07_a6da058f5950_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_b84b663d_a2f9_4fe3_91e3_b4f27cffaeb7_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _3f7e5fab_a26a_4b63_894e_af963577d48c_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_204ea7aa_0dee_4a8e_b2be_2f9740a74fd0_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_64587100_64d9_4ead_83dc_98b1509efaff_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_b443fd86_a425_42f9_a2aa_20f416111e57_Class()
	{
		return "alert alert-info";
	}
} 
