
<a href="#">
	@(GetAnchor_691292e8_7f75_45d2_b592_1d83b3d58a48_Text())
	<button>
		This is a test button! 
	</button>
</a>
@code { 

	private string GetAnchor_691292e8_7f75_45d2_b592_1d83b3d58a48_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
