
<a href="#">
	@(GetAnchor_e69eda22_d784_4098_a468_77c640f27e80_Text())
</a>
<div class="@(Get_425eaa53_dfb7_4f99_9daa_cc4aaba19505_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_2cdb58d5_00a7_4683_90da_a94cff6e0be2_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string GetAnchor_e69eda22_d784_4098_a468_77c640f27e80_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_425eaa53_dfb7_4f99_9daa_cc4aaba19505_Class()
	{
		return "alert alert-info";
	}
	private string Get_2cdb58d5_00a7_4683_90da_a94cff6e0be2_Class()
	{
		return "alert alert-info";
	}
} 
