@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_ccad9faa_4325_4290_82ab_ed023c0d222c_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _a09be485_60e9_40d8_b38e_562221fe6f95_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_cd4da297_9bf4_4426_887a_f6706a1690be_Text())
</a>
@code { 

	private string GetAnchor_ccad9faa_4325_4290_82ab_ed023c0d222c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _a09be485_60e9_40d8_b38e_562221fe6f95_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_cd4da297_9bf4_4426_887a_f6706a1690be_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
