
<div class="@(Get_e791d4c1_0f5b_4907_841f_04816a172cd3_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_e791d4c1_0f5b_4907_841f_04816a172cd3_Class()
	{
		return "alert alert-info";
	}
} 
