@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7d59f9e3_1828_47e7_8f44_e1d2ce4d5986_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _7d59f9e3_1828_47e7_8f44_e1d2ce4d5986_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _7d59f9e3_1828_47e7_8f44_e1d2ce4d5986_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_3ecf680e_9a28_4201_b718_afaf947173dd_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_df83d2d5_51a3_4e01_aa8e_3b15dcdf7663_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _d0cdec70_9e60_4136_98d1_b45a621f65a5_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _d0cdec70_9e60_4136_98d1_b45a621f65a5_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _d0cdec70_9e60_4136_98d1_b45a621f65a5_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_69dc8aa3_991e_4604_bec5_2e04f7887827_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string _7d59f9e3_1828_47e7_8f44_e1d2ce4d5986_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_3ecf680e_9a28_4201_b718_afaf947173dd_Class()
	{
		return "alert alert-info";
	}
	private string Get_df83d2d5_51a3_4e01_aa8e_3b15dcdf7663_Class()
	{
		return "alert alert-info";
	}
	private string _d0cdec70_9e60_4136_98d1_b45a621f65a5_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_69dc8aa3_991e_4604_bec5_2e04f7887827_Class()
	{
		return "alert alert-info";
	}
} 
