
<button>
	This is a test button! 
</button>
<div class="@(Get_c8f0588f_d210_4bb7_84b7_a664fff1c3fd_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_a4e9432e_3966_42c8_9b88_2a5c9a1a6492_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_c8f0588f_d210_4bb7_84b7_a664fff1c3fd_Class()
	{
		return "alert alert-info";
	}
	private string Get_a4e9432e_3966_42c8_9b88_2a5c9a1a6492_Class()
	{
		return "alert alert-info";
	}
} 
