@using Telerik.Blazor.Components;
@if (_6646b9a9_0c60_475c_ba64_e7e55874fc0d_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6646b9a9_0c60_475c_ba64_e7e55874fc0d_buttonVisibilityTest = !_6646b9a9_0c60_475c_ba64_e7e55874fc0d_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
@code { 
	private bool _6646b9a9_0c60_475c_ba64_e7e55874fc0d_buttonVisibilityTest;

} 
