@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
					<td>
						<button>
							This is a test button! 
						</button>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
	</tr>
</table>
<div class="@(Get_dbd523e2_5ff3_42b1_84dd_12de016aff78_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_27f7083b_f8a0_4227_aa59_188f2c0bc195_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _279223ab_8aa0_4d7e_badb_2e1c99d305f0_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _279223ab_8aa0_4d7e_badb_2e1c99d305f0_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _279223ab_8aa0_4d7e_badb_2e1c99d305f0_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_d42d8b56_5c61_4e82_baef_c86f5dd4cdca_Text())
</a>
@code { 

	private string Get_dbd523e2_5ff3_42b1_84dd_12de016aff78_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_27f7083b_f8a0_4227_aa59_188f2c0bc195_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _279223ab_8aa0_4d7e_badb_2e1c99d305f0_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_d42d8b56_5c61_4e82_baef_c86f5dd4cdca_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
