@using Telerik.Blazor.Components;
@if (_6756a739_9d5f_46a0_8f8c_fafaeafdb1a7_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6756a739_9d5f_46a0_8f8c_fafaeafdb1a7_buttonVisibilityTest = !_6756a739_9d5f_46a0_8f8c_fafaeafdb1a7_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
@code { 
	private bool _6756a739_9d5f_46a0_8f8c_fafaeafdb1a7_buttonVisibilityTest;

} 
