@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_1e25b33c_03b9_4a7f_9398_bd510af5fb45_Text())
</a>
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _23e3b7e0_90bf_4a11_a920_dccbf5f2572f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_ff7ddb98_a338_4de7_b445_552dfda22c5f_Class())">
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _1329715f_6712_4637_9859_a7923bd2ae25_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip1Data = _1329715f_6712_4637_9859_a7923bd2ae25_GetTabStripData(); }
			@tabStrip1Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip2Data = _1329715f_6712_4637_9859_a7923bd2ae25_GetTabStripData(); }
			@tabStrip2Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip3Data = _1329715f_6712_4637_9859_a7923bd2ae25_GetTabStripData(); }
			@tabStrip3Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip4Data = _1329715f_6712_4637_9859_a7923bd2ae25_GetTabStripData(); }
			@tabStrip4Data
		</TabStripTab> 
	</TelerikTabStrip> 
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _192827b8_6ce0_4154_a5a8_d2e95355b4d3_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _192827b8_6ce0_4154_a5a8_d2e95355b4d3_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _192827b8_6ce0_4154_a5a8_d2e95355b4d3_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _192827b8_6ce0_4154_a5a8_d2e95355b4d3_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string GetAnchor_1e25b33c_03b9_4a7f_9398_bd510af5fb45_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _23e3b7e0_90bf_4a11_a920_dccbf5f2572f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _1329715f_6712_4637_9859_a7923bd2ae25_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_ff7ddb98_a338_4de7_b445_552dfda22c5f_Class()
	{
		return "alert alert-info";
	}
	private string _192827b8_6ce0_4154_a5a8_d2e95355b4d3_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
