@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _dd355e64_83a8_45a9_a6c4_5769e67b1e98_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _dd355e64_83a8_45a9_a6c4_5769e67b1e98_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _dd355e64_83a8_45a9_a6c4_5769e67b1e98_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _dd355e64_83a8_45a9_a6c4_5769e67b1e98_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_2d1190e2_5fbc_4c42_b9c5_2c3b7e35ae20_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _2d1190e2_5fbc_4c42_b9c5_2c3b7e35ae20_buttonVisibilityTest = !_2d1190e2_5fbc_4c42_b9c5_2c3b7e35ae20_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c7b10e85_c3c4_4ac8_83b4_701541d8ced5_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c7b10e85_c3c4_4ac8_83b4_701541d8ced5_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _56a40ecb_9e2f_4e7c_8cfe_b7d1ca1fcffa_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _56a40ecb_9e2f_4e7c_8cfe_b7d1ca1fcffa_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _56a40ecb_9e2f_4e7c_8cfe_b7d1ca1fcffa_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _56a40ecb_9e2f_4e7c_8cfe_b7d1ca1fcffa_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _d3073289_4ec0_4ec9_a6cf_eab5d7f8f2e7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _2d1190e2_5fbc_4c42_b9c5_2c3b7e35ae20_buttonVisibilityTest;
	private string _dd355e64_83a8_45a9_a6c4_5769e67b1e98_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _c7b10e85_c3c4_4ac8_83b4_701541d8ced5_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _56a40ecb_9e2f_4e7c_8cfe_b7d1ca1fcffa_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _533e59be_d47f_492f_a3ba_cf04080f966e_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _d3073289_4ec0_4ec9_a6cf_eab5d7f8f2e7_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
