@using Telerik.Blazor.Components;
@if (_76e2ad31_cdc4_4fc0_bfee_6a54f3f3177b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _76e2ad31_cdc4_4fc0_bfee_6a54f3f3177b_buttonVisibilityTest = !_76e2ad31_cdc4_4fc0_bfee_6a54f3f3177b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_4b76234d_0d67_4f6a_a94d_b10308641069_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@if (_828c09b4_f693_4e7b_98cf_0100a6fbcb24_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _828c09b4_f693_4e7b_98cf_0100a6fbcb24_buttonVisibilityTest = !_828c09b4_f693_4e7b_98cf_0100a6fbcb24_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _76e2ad31_cdc4_4fc0_bfee_6a54f3f3177b_buttonVisibilityTest;
	private bool _828c09b4_f693_4e7b_98cf_0100a6fbcb24_buttonVisibilityTest;
	private string GetAnchor_4b76234d_0d67_4f6a_a94d_b10308641069_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
