
<a href="#">
	@(GetAnchor_a0965376_5f42_417a_968a_b879488d662d_Text())
</a>
<a href="#">
	@(GetAnchor_4c57fffa_9382_4a3b_ae8e_8861e59ae5e9_Text())
</a>
<a href="#">
	@(GetAnchor_a2cfd199_76bd_4ed9_98e1_3df449434400_Text())
</a>
<a href="#">
	@(GetAnchor_c3d9e99e_8f5a_4dce_bb9c_225308da0784_Text())
</a>
@code { 

	private string GetAnchor_a0965376_5f42_417a_968a_b879488d662d_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_4c57fffa_9382_4a3b_ae8e_8861e59ae5e9_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_a2cfd199_76bd_4ed9_98e1_3df449434400_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_c3d9e99e_8f5a_4dce_bb9c_225308da0784_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
