@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_1ec5f442_71d7_4c82_9a11_91f4c7aea363_Text())
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _23b37495_2f74_49d2_85ea_8661557ef0c3_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
	</TelerikTabStrip> 
</a>
<div class="@(Get_a0a98bf2_4fb9_4e98_836d_916d9f00078a_Class())">
	<p>This div is a test!</p>
</div>
<button>
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col1Row2
			</td>
		</tr>
	</table>
</button>
<div class="@(Get_b4142fa0_e689_4a42_a5ac_8dec175cbffb_Class())">
	<p>This div is a test!</p>
</div>
@if (_fd8dbdd7_eeeb_432f_84c6_bddad228d37e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _fd8dbdd7_eeeb_432f_84c6_bddad228d37e_buttonVisibilityTest = !_fd8dbdd7_eeeb_432f_84c6_bddad228d37e_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
	</tr>
</table>
@code { 
	private bool _fd8dbdd7_eeeb_432f_84c6_bddad228d37e_buttonVisibilityTest;
	private string _23b37495_2f74_49d2_85ea_8661557ef0c3_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_1ec5f442_71d7_4c82_9a11_91f4c7aea363_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_a0a98bf2_4fb9_4e98_836d_916d9f00078a_Class()
	{
		return "alert alert-info";
	}
	private string Get_b4142fa0_e689_4a42_a5ac_8dec175cbffb_Class()
	{
		return "alert alert-info";
	}
} 
