@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
@if (_bdc34533_b0ec_499c_a810_241c1c005fc6_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _bdc34533_b0ec_499c_a810_241c1c005fc6_buttonVisibilityTest = !_bdc34533_b0ec_499c_a810_241c1c005fc6_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _bdc34533_b0ec_499c_a810_241c1c005fc6_buttonVisibilityTest;

} 
