@using Telerik.Blazor.Components;
@if (_fb5925ca_58f1_4727_a57f_af51cbd39ecc_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _fb5925ca_58f1_4727_a57f_af51cbd39ecc_buttonVisibilityTest = !_fb5925ca_58f1_4727_a57f_af51cbd39ecc_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
	</tr>
</table>
@if (_e224fd02_502a_48e6_95d4_0c2bee617531_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _e224fd02_502a_48e6_95d4_0c2bee617531_buttonVisibilityTest = !_e224fd02_502a_48e6_95d4_0c2bee617531_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
	</tr>
</table>
@code { 
	private bool _fb5925ca_58f1_4727_a57f_af51cbd39ecc_buttonVisibilityTest;
	private bool _e224fd02_502a_48e6_95d4_0c2bee617531_buttonVisibilityTest;

} 
