@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_3e7d8d8e_41d7_4d90_a77d_9c9610c7b9ad_Text())
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col2Row1
			</td>
			<td>
				Col3Row1
			</td>
			<td>
				Col1Row2
			</td>
			<td>
				Col2Row2
			</td>
			<td>
				Col3Row2
			</td>
		</tr>
	</table>
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _9ae08c43_e900_4089_a524_abf47752f342_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _9ae08c43_e900_4089_a524_abf47752f342_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _9ae08c43_e900_4089_a524_abf47752f342_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _9ae08c43_e900_4089_a524_abf47752f342_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _9ae08c43_e900_4089_a524_abf47752f342_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _61067f01_ae83_4406_a9b7_19490c0072a6_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _61067f01_ae83_4406_a9b7_19490c0072a6_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _83982664_5e83_4f0f_ad75_0b4953a05c39_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _83982664_5e83_4f0f_ad75_0b4953a05c39_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _83982664_5e83_4f0f_ad75_0b4953a05c39_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _83982664_5e83_4f0f_ad75_0b4953a05c39_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _83982664_5e83_4f0f_ad75_0b4953a05c39_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _4088f404_26aa_4b5e_8392_7573053dab06_buttonVisibilityTest;
	private string GetAnchor_3e7d8d8e_41d7_4d90_a77d_9c9610c7b9ad_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _9ae08c43_e900_4089_a524_abf47752f342_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _61067f01_ae83_4406_a9b7_19490c0072a6_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _83982664_5e83_4f0f_ad75_0b4953a05c39_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
