
<a href="#">
	@(GetAnchor_33d3fd5a_16ac_45df_ba97_d00e134fc199_Text())
</a>
<div class="@(Get_37bb1c6a_c81e_4f61_be63_24a415bc2ec3_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_3b130167_ec88_40ef_bdb4_3e3f704aa90c_Text())
</a>
@code { 

	private string GetAnchor_33d3fd5a_16ac_45df_ba97_d00e134fc199_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_37bb1c6a_c81e_4f61_be63_24a415bc2ec3_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_3b130167_ec88_40ef_bdb4_3e3f704aa90c_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
