@using Telerik.Blazor.Components;
@if (_fd0dfc4c_16ae_4bfe_8936_4f800401adc4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _fd0dfc4c_16ae_4bfe_8936_4f800401adc4_buttonVisibilityTest = !_fd0dfc4c_16ae_4bfe_8936_4f800401adc4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_eb829879_06b6_4401_94fa_cefe48352e3e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _eb829879_06b6_4401_94fa_cefe48352e3e_buttonVisibilityTest = !_eb829879_06b6_4401_94fa_cefe48352e3e_buttonVisibilityTest"> 
		@if (_057338ef_f42c_476a_8090_361d52e830cf_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _057338ef_f42c_476a_8090_361d52e830cf_buttonVisibilityTest = !_057338ef_f42c_476a_8090_361d52e830cf_buttonVisibilityTest"> 
				This is a test button! 
			</TelerikButton> 
		}
	</TelerikButton> 
}
<div class="@(Get_166f314a_ffc6_4129_98b4_ff5e719512c0_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _fac0f160_1517_460e_af58_30c7aeece98a_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _fac0f160_1517_460e_af58_30c7aeece98a_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _fac0f160_1517_460e_af58_30c7aeece98a_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _fac0f160_1517_460e_af58_30c7aeece98a_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _3a8bf578_44cc_4277_9159_2c7cd6498fc2_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _3a8bf578_44cc_4277_9159_2c7cd6498fc2_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _3a8bf578_44cc_4277_9159_2c7cd6498fc2_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _3a8bf578_44cc_4277_9159_2c7cd6498fc2_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_09ff0d0b_f09e_4e59_8e6a_152ef852bc8c_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _a40e7f48_ecef_4f5c_8032_863f49e0a1fd_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _a40e7f48_ecef_4f5c_8032_863f49e0a1fd_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _a40e7f48_ecef_4f5c_8032_863f49e0a1fd_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@if (_bdfe8b8c_91e0_42f3_ba5f_df178a54877c_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _bdfe8b8c_91e0_42f3_ba5f_df178a54877c_buttonVisibilityTest = !_bdfe8b8c_91e0_42f3_ba5f_df178a54877c_buttonVisibilityTest"> 
				This is a test button! 
			</TelerikButton> 
		}
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _a40e7f48_ecef_4f5c_8032_863f49e0a1fd_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _fd0dfc4c_16ae_4bfe_8936_4f800401adc4_buttonVisibilityTest;
	private bool _057338ef_f42c_476a_8090_361d52e830cf_buttonVisibilityTest;
	private bool _eb829879_06b6_4401_94fa_cefe48352e3e_buttonVisibilityTest;
	private bool _bdfe8b8c_91e0_42f3_ba5f_df178a54877c_buttonVisibilityTest;
	private string Get_166f314a_ffc6_4129_98b4_ff5e719512c0_Class()
	{
		return "alert alert-info";
	}
	private string _fac0f160_1517_460e_af58_30c7aeece98a_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _3a8bf578_44cc_4277_9159_2c7cd6498fc2_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_09ff0d0b_f09e_4e59_8e6a_152ef852bc8c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _a40e7f48_ecef_4f5c_8032_863f49e0a1fd_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
