@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _8cb4a693_c405_4aab_a6bd_a439cd3b58a2_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _8cb4a693_c405_4aab_a6bd_a439cd3b58a2_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _8cb4a693_c405_4aab_a6bd_a439cd3b58a2_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _8cb4a693_c405_4aab_a6bd_a439cd3b58a2_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _41389733_d51c_468f_a383_106f8f1eeee0_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _41389733_d51c_468f_a383_106f8f1eeee0_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_46d1326f_bd39_4b57_9eb3_dbc522d67bcb_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_c7e5ab15_423b_4b30_838a_eab4a6c19ee7_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_39d66bb0_70e2_43ed_ba94_f953f0c31b46_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string _8cb4a693_c405_4aab_a6bd_a439cd3b58a2_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _41389733_d51c_468f_a383_106f8f1eeee0_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_46d1326f_bd39_4b57_9eb3_dbc522d67bcb_Class()
	{
		return "alert alert-info";
	}
	private string Get_c7e5ab15_423b_4b30_838a_eab4a6c19ee7_Class()
	{
		return "alert alert-info";
	}
	private string Get_39d66bb0_70e2_43ed_ba94_f953f0c31b46_Class()
	{
		return "alert alert-info";
	}
} 
