
<a href="#">
	@(GetAnchor_190f2cdf_d50e_47bb_a32e_25ca33c103ee_Text())
</a>
@code { 

	private string GetAnchor_190f2cdf_d50e_47bb_a32e_25ca33c103ee_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
