@using Telerik.Blazor.Components;
@if (_f4230c0f_5330_46b5_a379_f70ad95c7441_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f4230c0f_5330_46b5_a379_f70ad95c7441_buttonVisibilityTest = !_f4230c0f_5330_46b5_a379_f70ad95c7441_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_6a7cf571_7097_45b4_a443_b7b56120d1ec_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_7c29de5d_0a24_4fe5_9974_ddf644f7eaa9_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_b7c2649d_7d69_4df5_8b14_e52fe0590217_Text())
</a>
@code { 
	private bool _f4230c0f_5330_46b5_a379_f70ad95c7441_buttonVisibilityTest;
	private string GetAnchor_6a7cf571_7097_45b4_a443_b7b56120d1ec_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_7c29de5d_0a24_4fe5_9974_ddf644f7eaa9_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_b7c2649d_7d69_4df5_8b14_e52fe0590217_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
