@using Telerik.Blazor.Components;
@if (_b3a7cb0f_2997_4556_97c4_894348c3ffd2_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _b3a7cb0f_2997_4556_97c4_894348c3ffd2_buttonVisibilityTest = !_b3a7cb0f_2997_4556_97c4_894348c3ffd2_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_0272664c_12c9_43dd_bbc9_83c35c5af2d4_Class())">
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _a3036b8c_7b43_4008_954c_4838519f6edd_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip1Data = _a3036b8c_7b43_4008_954c_4838519f6edd_GetTabStripData(); }
			@tabStrip1Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip2Data = _a3036b8c_7b43_4008_954c_4838519f6edd_GetTabStripData(); }
			@tabStrip2Data
		</TabStripTab> 
	</TelerikTabStrip> 
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _398d33f6_672e_4eee_b23a_079c1ef41c99_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _816564ac_5b31_4af7_9c7f_2d3e3df58cd5_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _816564ac_5b31_4af7_9c7f_2d3e3df58cd5_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _816564ac_5b31_4af7_9c7f_2d3e3df58cd5_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _816564ac_5b31_4af7_9c7f_2d3e3df58cd5_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _816564ac_5b31_4af7_9c7f_2d3e3df58cd5_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<a href="#">
	@(GetAnchor_db404b14_156a_4fcb_b26a_f0ea21d5b430_Text())
</a>
@code { 
	private bool _b3a7cb0f_2997_4556_97c4_894348c3ffd2_buttonVisibilityTest;
	private string _a3036b8c_7b43_4008_954c_4838519f6edd_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_0272664c_12c9_43dd_bbc9_83c35c5af2d4_Class()
	{
		return "alert alert-info";
	}
	private string _398d33f6_672e_4eee_b23a_079c1ef41c99_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _816564ac_5b31_4af7_9c7f_2d3e3df58cd5_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_db404b14_156a_4fcb_b26a_f0ea21d5b430_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
