
<a href="#">
	@(GetAnchor_d59defed_29a0_45cd_8d09_6c3a0bb895d7_Text())
</a>
<a href="#">
	@(GetAnchor_0304e10e_c912_4207_93dc_924b18ea88ad_Text())
</a>
@code { 

	private string GetAnchor_d59defed_29a0_45cd_8d09_6c3a0bb895d7_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_0304e10e_c912_4207_93dc_924b18ea88ad_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
