@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
@if (_298ad6da_84b4_4c54_a64b_8572eb3cd891_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _298ad6da_84b4_4c54_a64b_8572eb3cd891_buttonVisibilityTest = !_298ad6da_84b4_4c54_a64b_8572eb3cd891_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _298ad6da_84b4_4c54_a64b_8572eb3cd891_buttonVisibilityTest;

} 
