
<div class="@(Get_1823cbe1_8705_4246_8f55_3896e917aadd_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_b4dbe066_a046_4793_bb03_581df7ff220b_Class())">
	<a href="#">
		@(GetAnchor_9c289e7b_9310_43fb_8b17_ae6e65932687_Text())
	</a>
</div>
@code { 

	private string Get_1823cbe1_8705_4246_8f55_3896e917aadd_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_9c289e7b_9310_43fb_8b17_ae6e65932687_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_b4dbe066_a046_4793_bb03_581df7ff220b_Class()
	{
		return "alert alert-info";
	}
} 
