@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
<div class="@(Get_681a87cb_287e_4255_9d95_c4d90d243eb5_Class())">
	<p>This div is a test!</p>
</div>
@if (_3cd73066_c982_404b_a280_23739b492139_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _3cd73066_c982_404b_a280_23739b492139_buttonVisibilityTest = !_3cd73066_c982_404b_a280_23739b492139_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _3cd73066_c982_404b_a280_23739b492139_buttonVisibilityTest;
	private string Get_681a87cb_287e_4255_9d95_c4d90d243eb5_Class()
	{
		return "alert alert-info";
	}
} 
