@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_aaca6e41_0153_488a_b087_e6f98c7afe28_Text())
</a>
@if (_43cfa0a3_1825_431c_832e_946ea0870037_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _43cfa0a3_1825_431c_832e_946ea0870037_buttonVisibilityTest = !_43cfa0a3_1825_431c_832e_946ea0870037_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _43cfa0a3_1825_431c_832e_946ea0870037_buttonVisibilityTest;
	private string GetAnchor_aaca6e41_0153_488a_b087_e6f98c7afe28_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
