@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_7839ea34_3267_4280_a569_1b09e4da8c50_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _46af37bc_b4b9_47fd_9da0_798d5f321347_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _46af37bc_b4b9_47fd_9da0_798d5f321347_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _43d3daa5_3fdc_483a_8d9f_4c5edc074595_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _43d3daa5_3fdc_483a_8d9f_4c5edc074595_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string GetAnchor_7839ea34_3267_4280_a569_1b09e4da8c50_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _46af37bc_b4b9_47fd_9da0_798d5f321347_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _d2040172_18bb_4483_b355_5fdde17ad900_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _43d3daa5_3fdc_483a_8d9f_4c5edc074595_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
