
<button>
	This is a test button! 
</button>
<button>
	This is a test button! 
</button>
<div class="@(Get_1ec0305a_fbe4_429c_b75a_15f10fe392dd_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_1ec0305a_fbe4_429c_b75a_15f10fe392dd_Class()
	{
		return "alert alert-info";
	}
} 
