@using Telerik.Blazor.Components;
@if (_9ecaa55b_676c_4436_892a_c0bc6dde1776_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _9ecaa55b_676c_4436_892a_c0bc6dde1776_buttonVisibilityTest = !_9ecaa55b_676c_4436_892a_c0bc6dde1776_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_bf9d4a13_2b32_4b9f_9b54_fda98c68181d_Text())
</a>
@code { 
	private bool _9ecaa55b_676c_4436_892a_c0bc6dde1776_buttonVisibilityTest;
	private string GetAnchor_bf9d4a13_2b32_4b9f_9b54_fda98c68181d_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
