@using Telerik.Blazor.Components;
<div class="@(Get_e60a785c_e319_4431_89cb_cfa6d788dfc1_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _27fe7fc8_53ae_49bb_bb0e_bb38eb5dc4eb_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_c6cb0a34_3a68_4945_95d8_cad081152504_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _644f8775_f2b9_4684_8506_6dbd1204b05f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _644f8775_f2b9_4684_8506_6dbd1204b05f_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _644f8775_f2b9_4684_8506_6dbd1204b05f_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _644f8775_f2b9_4684_8506_6dbd1204b05f_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _644f8775_f2b9_4684_8506_6dbd1204b05f_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string Get_e60a785c_e319_4431_89cb_cfa6d788dfc1_Class()
	{
		return "alert alert-info";
	}
	private string _27fe7fc8_53ae_49bb_bb0e_bb38eb5dc4eb_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_c6cb0a34_3a68_4945_95d8_cad081152504_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _644f8775_f2b9_4684_8506_6dbd1204b05f_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
