@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_68fb68ba_b167_4184_bd96_00aa2f07be5b_Text())
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_ff22824f_5513_4c4e_b276_1796d8e37758_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 

	private string GetAnchor_68fb68ba_b167_4184_bd96_00aa2f07be5b_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _ff22824f_5513_4c4e_b276_1796d8e37758_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
