@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_6b2838c6_3f48_42b4_ba37_c4aa3753243d_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_7032a041_4203_4975_b318_b4fbda92c58d_Text())
</a>
<a href="#">
	@(GetAnchor_990bcf57_7984_4982_8c58_cd2f1f19f72e_Text())
</a>
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _444bbfe7_4981_4c47_81fd_342cf82ab65e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _444bbfe7_4981_4c47_81fd_342cf82ab65e_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _444bbfe7_4981_4c47_81fd_342cf82ab65e_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _444bbfe7_4981_4c47_81fd_342cf82ab65e_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _2eaffc1a_5aca_4e09_aaf3_cce6f6592d44_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _2eaffc1a_5aca_4e09_aaf3_cce6f6592d44_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _2eaffc1a_5aca_4e09_aaf3_cce6f6592d44_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _2eaffc1a_5aca_4e09_aaf3_cce6f6592d44_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string GetAnchor_6b2838c6_3f48_42b4_ba37_c4aa3753243d_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_7032a041_4203_4975_b318_b4fbda92c58d_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_990bcf57_7984_4982_8c58_cd2f1f19f72e_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _444bbfe7_4981_4c47_81fd_342cf82ab65e_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _2eaffc1a_5aca_4e09_aaf3_cce6f6592d44_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
