@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest = !_d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _2b4b3950_f293_41b3_afab_629717058445_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _2b4b3950_f293_41b3_afab_629717058445_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _2b4b3950_f293_41b3_afab_629717058445_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _2b4b3950_f293_41b3_afab_629717058445_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _2b4b3950_f293_41b3_afab_629717058445_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _d5d2e1c7_4ab6_4450_88b4_4108e11b0dcf_buttonVisibilityTest;
	private string _2b4b3950_f293_41b3_afab_629717058445_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
