@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_e4967284_44c8_4b60_8aef_82357fad239c_Text())
</a>
@if (_029a4ff3_4800_4a80_9083_ec8bca8506b0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _029a4ff3_4800_4a80_9083_ec8bca8506b0_buttonVisibilityTest = !_029a4ff3_4800_4a80_9083_ec8bca8506b0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_c678aa5f_174c_494e_b9e2_f4449324b71c_GridOnRead"> 
	<GridColumns> 
		@if (_671cdfcd_b739_4ea9_93fa_e06db509160b_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _671cdfcd_b739_4ea9_93fa_e06db509160b_buttonVisibilityTest = !_671cdfcd_b739_4ea9_93fa_e06db509160b_buttonVisibilityTest"> 
				This is a test button! 
			</TelerikButton> 
		}
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7213d7f0_a6ee_48e1_bfe7_3347a7a661db_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _7213d7f0_a6ee_48e1_bfe7_3347a7a661db_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _029a4ff3_4800_4a80_9083_ec8bca8506b0_buttonVisibilityTest;
	private bool _671cdfcd_b739_4ea9_93fa_e06db509160b_buttonVisibilityTest;
	private string GetAnchor_e4967284_44c8_4b60_8aef_82357fad239c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _c678aa5f_174c_494e_b9e2_f4449324b71c_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _7213d7f0_a6ee_48e1_bfe7_3347a7a661db_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
