@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _a9608dee_ca3f_4b84_b8e2_4d644f2b0ee6_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _a9608dee_ca3f_4b84_b8e2_4d644f2b0ee6_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _a9608dee_ca3f_4b84_b8e2_4d644f2b0ee6_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _a9608dee_ca3f_4b84_b8e2_4d644f2b0ee6_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _a9608dee_ca3f_4b84_b8e2_4d644f2b0ee6_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_036bf484_b15a_483d_8f87_2a070e5196b5_Text())
</a>
@code { 

	private string _a9608dee_ca3f_4b84_b8e2_4d644f2b0ee6_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_036bf484_b15a_483d_8f87_2a070e5196b5_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
