@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_b2d22d28_f001_4176_b3a2_ec1f96650656_Text())
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _e850d7b8_6eb9_4363_9a45_71c0702d6b01_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
	</TelerikTabStrip> 
</a>
@if (_1bd1a46d_995c_4548_9668_62b7f935339a_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1bd1a46d_995c_4548_9668_62b7f935339a_buttonVisibilityTest = !_1bd1a46d_995c_4548_9668_62b7f935339a_buttonVisibilityTest"> 
		<a href="#">
			@(GetAnchor_e4912a3f_e549_48b0_8a57_d3f321169f44_Text())
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _48d0e12c_a648_45cd_b4a4_e7c5ca362f08_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _48d0e12c_a648_45cd_b4a4_e7c5ca362f08_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _48d0e12c_a648_45cd_b4a4_e7c5ca362f08_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _48d0e12c_a648_45cd_b4a4_e7c5ca362f08_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _48d0e12c_a648_45cd_b4a4_e7c5ca362f08_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</a>
	</TelerikButton> 
}
@code { 
	private bool _1bd1a46d_995c_4548_9668_62b7f935339a_buttonVisibilityTest;
	private string _e850d7b8_6eb9_4363_9a45_71c0702d6b01_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_b2d22d28_f001_4176_b3a2_ec1f96650656_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _48d0e12c_a648_45cd_b4a4_e7c5ca362f08_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_e4912a3f_e549_48b0_8a57_d3f321169f44_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
