@using Telerik.Blazor.Components;
@if (_a691c101_5bd1_42d6_8b01_8a89282c9082_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a691c101_5bd1_42d6_8b01_8a89282c9082_buttonVisibilityTest = !_a691c101_5bd1_42d6_8b01_8a89282c9082_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7cb020b6_5e53_4ae5_82ef_07d751fe204d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	@if (_6607db33_ee70_427c_8270_b65379a88bb1_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _6607db33_ee70_427c_8270_b65379a88bb1_buttonVisibilityTest = !_6607db33_ee70_427c_8270_b65379a88bb1_buttonVisibilityTest"> 
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col1Row3
					</td>
				</tr>
			</table>
		</TelerikButton> 
	}
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
@code { 
	private bool _a691c101_5bd1_42d6_8b01_8a89282c9082_buttonVisibilityTest;
	private bool _6607db33_ee70_427c_8270_b65379a88bb1_buttonVisibilityTest;
	private string _7cb020b6_5e53_4ae5_82ef_07d751fe204d_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
