@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _6e8bf407_2e7e_4e2f_9d39_d0881246ed3d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _6e8bf407_2e7e_4e2f_9d39_d0881246ed3d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _6e8bf407_2e7e_4e2f_9d39_d0881246ed3d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _6e8bf407_2e7e_4e2f_9d39_d0881246ed3d_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col1Row2
				</td>
			</tr>
		</table>
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string _6e8bf407_2e7e_4e2f_9d39_d0881246ed3d_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
