@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_9f4c3c0c_9c00_418d_8c56_b32d4dc8cbc9_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_4a1c7e25_aad5_4d5f_8b4b_e6332062187f_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _4a1c7e25_aad5_4d5f_8b4b_e6332062187f_buttonVisibilityTest = !_4a1c7e25_aad5_4d5f_8b4b_e6332062187f_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_b0ce2218_d5af_40b8_8f73_8979f0bd2e6b_Class())">
	<p>This div is a test!</p>
</div>
@if (_2a36da11_f754_4b44_86f7_82342659840c_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _2a36da11_f754_4b44_86f7_82342659840c_buttonVisibilityTest = !_2a36da11_f754_4b44_86f7_82342659840c_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _763e0a7e_f7e6_4025_a02c_29be9755c825_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _763e0a7e_f7e6_4025_a02c_29be9755c825_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
			</tr>
			<tr>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
			</tr>
		</table>
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _763e0a7e_f7e6_4025_a02c_29be9755c825_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _4a1c7e25_aad5_4d5f_8b4b_e6332062187f_buttonVisibilityTest;
	private bool _2a36da11_f754_4b44_86f7_82342659840c_buttonVisibilityTest;
	private void _9f4c3c0c_9c00_418d_8c56_b32d4dc8cbc9_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_b0ce2218_d5af_40b8_8f73_8979f0bd2e6b_Class()
	{
		return "alert alert-info";
	}
	private string _34c5235e_dc51_435e_825f_bdaa98e780dc_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _763e0a7e_f7e6_4025_a02c_29be9755c825_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
