@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<button>
	@if (_6d54df5a_e854_43f7_9aef_6bcdbf9596a9_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _6d54df5a_e854_43f7_9aef_6bcdbf9596a9_buttonVisibilityTest = !_6d54df5a_e854_43f7_9aef_6bcdbf9596a9_buttonVisibilityTest"> 
			This is a test button! 
		</TelerikButton> 
	}
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
@if (_d12c1b34_5380_4014_9c16_c2cb94150a47_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _d12c1b34_5380_4014_9c16_c2cb94150a47_buttonVisibilityTest = !_d12c1b34_5380_4014_9c16_c2cb94150a47_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_0f45096d_eb69_40f4_a0f6_e5c33033419b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _0f45096d_eb69_40f4_a0f6_e5c33033419b_buttonVisibilityTest = !_0f45096d_eb69_40f4_a0f6_e5c33033419b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_963be583_9313_443c_8424_63ded46239a0_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
	</tr>
</table>
<div class="@(Get_e17f8f4a_eb3c_4814_82c6_6b0ac67632a4_Class())">
	<p>This div is a test!</p>
</div>
@code { 
	private bool _6d54df5a_e854_43f7_9aef_6bcdbf9596a9_buttonVisibilityTest;
	private bool _d12c1b34_5380_4014_9c16_c2cb94150a47_buttonVisibilityTest;
	private bool _0f45096d_eb69_40f4_a0f6_e5c33033419b_buttonVisibilityTest;
	private string Get_963be583_9313_443c_8424_63ded46239a0_Class()
	{
		return "alert alert-info";
	}
	private string Get_e17f8f4a_eb3c_4814_82c6_6b0ac67632a4_Class()
	{
		return "alert alert-info";
	}
} 
