@using Telerik.Blazor.Components;
@if (_5c9a1593_4308_4e4d_a205_1c50c7c5c6eb_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _5c9a1593_4308_4e4d_a205_1c50c7c5c6eb_buttonVisibilityTest = !_5c9a1593_4308_4e4d_a205_1c50c7c5c6eb_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_e797c809_a342_4a5d_aff0_61fe2feadfa1_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _79f81b74_daed_4cf2_84b3_0a63aa4df30f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _79f81b74_daed_4cf2_84b3_0a63aa4df30f_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _79f81b74_daed_4cf2_84b3_0a63aa4df30f_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@if (_a5b802a5_5cde_4217_9d20_d31c3e4bf865_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _a5b802a5_5cde_4217_9d20_d31c3e4bf865_buttonVisibilityTest = !_a5b802a5_5cde_4217_9d20_d31c3e4bf865_buttonVisibilityTest"> 
				This is a test button! 
			</TelerikButton> 
		}
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _79f81b74_daed_4cf2_84b3_0a63aa4df30f_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_8488e189_e9a1_43c0_bea0_d6848bda1780_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _8488e189_e9a1_43c0_bea0_d6848bda1780_buttonVisibilityTest = !_8488e189_e9a1_43c0_bea0_d6848bda1780_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_fe97525d_584d_4b86_8cf7_c94c5ff2e5fa_GridOnRead"> 
	<GridColumns> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _1e83c501_15ac_477b_ad42_491ca7b27628_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _1e83c501_15ac_477b_ad42_491ca7b27628_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip2Data = _1e83c501_15ac_477b_ad42_491ca7b27628_GetTabStripData(); }
				@tabStrip2Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip3Data = _1e83c501_15ac_477b_ad42_491ca7b27628_GetTabStripData(); }
				@tabStrip3Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<button>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3b46af90_c9a0_4a56_8eeb_d0fc9a03fecc_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</button>
		</td>
		<td>
			<button>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3b46af90_c9a0_4a56_8eeb_d0fc9a03fecc_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</button>
		</td>
		<td>
			<button>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3b46af90_c9a0_4a56_8eeb_d0fc9a03fecc_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</button>
		</td>
		<td>
			<button>
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _3b46af90_c9a0_4a56_8eeb_d0fc9a03fecc_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</button>
		</td>
	</tr>
</table>
@if (_07b5cc5c_205e_4ae0_8239_afc7427187f7_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _07b5cc5c_205e_4ae0_8239_afc7427187f7_buttonVisibilityTest = !_07b5cc5c_205e_4ae0_8239_afc7427187f7_buttonVisibilityTest"> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col2Row1
				</td>
				<td>
					Col1Row2
				</td>
				<td>
					Col2Row2
				</td>
				<td>
					Col1Row3
				</td>
				<td>
					Col2Row3
				</td>
			</tr>
		</table>
	</TelerikButton> 
}
@code { 
	private bool _5c9a1593_4308_4e4d_a205_1c50c7c5c6eb_buttonVisibilityTest;
	private bool _a5b802a5_5cde_4217_9d20_d31c3e4bf865_buttonVisibilityTest;
	private bool _8488e189_e9a1_43c0_bea0_d6848bda1780_buttonVisibilityTest;
	private bool _07b5cc5c_205e_4ae0_8239_afc7427187f7_buttonVisibilityTest;
	private string Get_e797c809_a342_4a5d_aff0_61fe2feadfa1_Class()
	{
		return "alert alert-info";
	}
	private string _79f81b74_daed_4cf2_84b3_0a63aa4df30f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _1e83c501_15ac_477b_ad42_491ca7b27628_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _fe97525d_584d_4b86_8cf7_c94c5ff2e5fa_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _3b46af90_c9a0_4a56_8eeb_d0fc9a03fecc_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
