@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
@if (_1a21ef83_ac15_467d_883d_4f3a6c5a0b99_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1a21ef83_ac15_467d_883d_4f3a6c5a0b99_buttonVisibilityTest = !_1a21ef83_ac15_467d_883d_4f3a6c5a0b99_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _1a21ef83_ac15_467d_883d_4f3a6c5a0b99_buttonVisibilityTest;

} 
