
<a href="#">
	@(GetAnchor_35150dbf_94c4_44e6_abe9_cf09015a8b36_Text())
	<button>
		This is a test button! 
	</button>
</a>
@code { 

	private string GetAnchor_35150dbf_94c4_44e6_abe9_cf09015a8b36_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
