@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
	</tr>
</table>
@if (_4526f81f_4fbf_4dcb_8f6f_2bc66abcb824_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _4526f81f_4fbf_4dcb_8f6f_2bc66abcb824_buttonVisibilityTest = !_4526f81f_4fbf_4dcb_8f6f_2bc66abcb824_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _4526f81f_4fbf_4dcb_8f6f_2bc66abcb824_buttonVisibilityTest;

} 
