@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _95111746_f2ce_4293_8d82_2b5ffa0c6de0_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _95111746_f2ce_4293_8d82_2b5ffa0c6de0_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _95111746_f2ce_4293_8d82_2b5ffa0c6de0_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_9fadc35b_94a9_4cb0_b69e_94a9c1391369_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _11d1ff79_a546_4a51_9eb8_ecc5a00ba72d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _11d1ff79_a546_4a51_9eb8_ecc5a00ba72d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _11d1ff79_a546_4a51_9eb8_ecc5a00ba72d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _11d1ff79_a546_4a51_9eb8_ecc5a00ba72d_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string _95111746_f2ce_4293_8d82_2b5ffa0c6de0_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_9fadc35b_94a9_4cb0_b69e_94a9c1391369_Class()
	{
		return "alert alert-info";
	}
	private string _11d1ff79_a546_4a51_9eb8_ecc5a00ba72d_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
