@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_e8b3c536_3349_4db2_9e05_72367a6b1dff_Text())
</a>
<a href="#">
	@(GetAnchor_4832ab8a_a2e5_44b9_be0f_13f3a59b3f9e_Text())
</a>
@if (_dba16ec7_6d5a_43e3_9d38_977cf4c1af96_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _dba16ec7_6d5a_43e3_9d38_977cf4c1af96_buttonVisibilityTest = !_dba16ec7_6d5a_43e3_9d38_977cf4c1af96_buttonVisibilityTest"> 
		<a href="#">
			@(GetAnchor_ef6aa9da_a6e5_48d1_a186_f1cd0a2c9169_Text())
		</a>
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@code { 
	private bool _dba16ec7_6d5a_43e3_9d38_977cf4c1af96_buttonVisibilityTest;
	private string GetAnchor_e8b3c536_3349_4db2_9e05_72367a6b1dff_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_4832ab8a_a2e5_44b9_be0f_13f3a59b3f9e_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_ef6aa9da_a6e5_48d1_a186_f1cd0a2c9169_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
