@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _3ac7a66f_bf7f_4f65_af0e_b91c68204e68_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_5d43f38d_3617_49cb_8a0d_361f11993b79_Text())
</a>
@code { 

	private string _3ac7a66f_bf7f_4f65_af0e_b91c68204e68_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_5d43f38d_3617_49cb_8a0d_361f11993b79_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
