@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			@if (_1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest = !_1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest"> 
					@if (_8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest = !_8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest = !_1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest"> 
					@if (_8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest = !_8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest = !_1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest"> 
					@if (_8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest = !_8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest = !_1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest"> 
					@if (_8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest = !_8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_d8d04ae7_a3f5_4114_a87f_33f15d0871be_Text())
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _083b60b0_9719_4104_9b2a_41b72232d04c_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip1Data = _083b60b0_9719_4104_9b2a_41b72232d04c_GetTabStripData(); }
			@tabStrip1Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip2Data = _083b60b0_9719_4104_9b2a_41b72232d04c_GetTabStripData(); }
			@tabStrip2Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip3Data = _083b60b0_9719_4104_9b2a_41b72232d04c_GetTabStripData(); }
			@tabStrip3Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip4Data = _083b60b0_9719_4104_9b2a_41b72232d04c_GetTabStripData(); }
			@tabStrip4Data
		</TabStripTab> 
	</TelerikTabStrip> 
</a>
@code { 
	private bool _8b66a6de_930d_4994_8abf_0b67ae640e17_buttonVisibilityTest;
	private bool _1682266f_371a_4cf4_9123_e310e3bc81ed_buttonVisibilityTest;
	private string _083b60b0_9719_4104_9b2a_41b72232d04c_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_d8d04ae7_a3f5_4114_a87f_33f15d0871be_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
