@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
@code { 

	private string _81cfa6b6_2ad1_4a79_afcf_f7c35dfca1e4_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
