
<div class="@(Get_4981c757_7d14_425d_a781_b6a1bba61123_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
	</tr>
</table>
@code { 

	private string Get_4981c757_7d14_425d_a781_b6a1bba61123_Class()
	{
		return "alert alert-info";
	}
} 
