@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
@if (_1acb49a7_26d2_4238_bc74_887ee2bbbc30_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1acb49a7_26d2_4238_bc74_887ee2bbbc30_buttonVisibilityTest = !_1acb49a7_26d2_4238_bc74_887ee2bbbc30_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col2Row1
			</td>
		</tr>
	</table>
</button>
<button>
	This is a test button! 
</button>
@code { 
	private bool _1acb49a7_26d2_4238_bc74_887ee2bbbc30_buttonVisibilityTest;

} 
