@using Telerik.Blazor.Components;
@if (_bc550ec1_8f3e_4111_98e1_84a17fcd0e18_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _bc550ec1_8f3e_4111_98e1_84a17fcd0e18_buttonVisibilityTest = !_bc550ec1_8f3e_4111_98e1_84a17fcd0e18_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
@code { 
	private bool _bc550ec1_8f3e_4111_98e1_84a17fcd0e18_buttonVisibilityTest;

} 
