@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_fe62a293_38a6_477a_b473_ca6bdf8ad223_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _34b708ad_dd6f_460f_b4de_166eb09833cd_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _286b7bac_521d_4703_ad0f_553aaa9c7276_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
@if (_2eabd965_6dbe_4854_bfde_c8e0024fd32f_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _2eabd965_6dbe_4854_bfde_c8e0024fd32f_buttonVisibilityTest = !_2eabd965_6dbe_4854_bfde_c8e0024fd32f_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _2eabd965_6dbe_4854_bfde_c8e0024fd32f_buttonVisibilityTest;
	private string GetAnchor_fe62a293_38a6_477a_b473_ca6bdf8ad223_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _34b708ad_dd6f_460f_b4de_166eb09833cd_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _286b7bac_521d_4703_ad0f_553aaa9c7276_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
