@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col1Row5
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
	</tr>
</table>
<button>
	<div class="@(Get_264ae65d_d53d_4b33_8cd0_40aaf2e15e74_Class())">
		<p>This div is a test!</p>
	</div>
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
@if (_de09e610_c64f_4e04_b6bf_aa105e76d960_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _de09e610_c64f_4e04_b6bf_aa105e76d960_buttonVisibilityTest = !_de09e610_c64f_4e04_b6bf_aa105e76d960_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _de09e610_c64f_4e04_b6bf_aa105e76d960_buttonVisibilityTest;
	private string Get_264ae65d_d53d_4b33_8cd0_40aaf2e15e74_Class()
	{
		return "alert alert-info";
	}
} 
