@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _6538552c_f0c8_47b8_9ae5_e9e6b2a18881_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _6538552c_f0c8_47b8_9ae5_e9e6b2a18881_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _6538552c_f0c8_47b8_9ae5_e9e6b2a18881_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _6538552c_f0c8_47b8_9ae5_e9e6b2a18881_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_e9d1c57c_b216_40b2_aad7_ed734eae534b_Text())
</a>
@code { 

	private string _6538552c_f0c8_47b8_9ae5_e9e6b2a18881_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_e9d1c57c_b216_40b2_aad7_ed734eae534b_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
