@using Telerik.Blazor.Components;
@if (_a3bedfda_1617_4678_b50b_4d0a4de237e2_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a3bedfda_1617_4678_b50b_4d0a4de237e2_buttonVisibilityTest = !_a3bedfda_1617_4678_b50b_4d0a4de237e2_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_8a9779ac_b38c_4c22_982b_8bfc88f74cab_Class())">
	<p>This div is a test!</p>
</div>
@code { 
	private bool _a3bedfda_1617_4678_b50b_4d0a4de237e2_buttonVisibilityTest;
	private string Get_8a9779ac_b38c_4c22_982b_8bfc88f74cab_Class()
	{
		return "alert alert-info";
	}
} 
