
<button>
	This is a test button! 
</button>
<div class="@(Get_432942f3_8e52_4d74_b8c9_ed4165a96837_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_432942f3_8e52_4d74_b8c9_ed4165a96837_Class()
	{
		return "alert alert-info";
	}
} 
