@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_c651e78b_fcb9_4116_b9cc_325ecaf68794_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _0994510f_dddd_4582_aa4d_dad41c18bdc7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _0994510f_dddd_4582_aa4d_dad41c18bdc7_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _0994510f_dddd_4582_aa4d_dad41c18bdc7_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _0994510f_dddd_4582_aa4d_dad41c18bdc7_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _e6751e47_b045_42f4_9e79_8afe0942782e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _e6751e47_b045_42f4_9e79_8afe0942782e_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _e6751e47_b045_42f4_9e79_8afe0942782e_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string GetAnchor_c651e78b_fcb9_4116_b9cc_325ecaf68794_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _0994510f_dddd_4582_aa4d_dad41c18bdc7_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _e6751e47_b045_42f4_9e79_8afe0942782e_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
