@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_c19b20c3_fd82_411f_a412_b9c0ec6e85ab_Text())
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_6ce2d1df_23cc_449c_a5a4_75ec80646bf0_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _22fbf86d_7485_4fc5_b8ff_3bfa0117fbb6_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string GetAnchor_c19b20c3_fd82_411f_a412_b9c0ec6e85ab_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _6ce2d1df_23cc_449c_a5a4_75ec80646bf0_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _22fbf86d_7485_4fc5_b8ff_3bfa0117fbb6_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
