
<a href="#">
	@(GetAnchor_56626088_c056_4393_a5f5_80ff9cb577c2_Text())
</a>
@code { 

	private string GetAnchor_56626088_c056_4393_a5f5_80ff9cb577c2_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
