
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
<div class="@(Get_23cc47c7_d0f6_4ee7_8561_8916097f6ed3_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_23cc47c7_d0f6_4ee7_8561_8916097f6ed3_Class()
	{
		return "alert alert-info";
	}
} 
