@using Telerik.Blazor.Components;
@if (_000f795c_42cc_483e_913a_5ab8395216c4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _000f795c_42cc_483e_913a_5ab8395216c4_buttonVisibilityTest = !_000f795c_42cc_483e_913a_5ab8395216c4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_7aac6d1f_ea32_4941_8fc0_fa816ea5ece2_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _4eecc027_0c03_4817_b978_488a370d0a84_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _4eecc027_0c03_4817_b978_488a370d0a84_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _4eecc027_0c03_4817_b978_488a370d0a84_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _beecbf60_76c0_4124_b365_7f45aa9bdca7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _beecbf60_76c0_4124_b365_7f45aa9bdca7_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
				<th>
					Test Header 4
				</th>
			</tr>
			<tr>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
				<td>
					<button>
						This is a test button! 
					</button>
				</td>
			</tr>
		</table>
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _beecbf60_76c0_4124_b365_7f45aa9bdca7_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _beecbf60_76c0_4124_b365_7f45aa9bdca7_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
	</tr>
</table>
@code { 
	private bool _000f795c_42cc_483e_913a_5ab8395216c4_buttonVisibilityTest;
	private string GetAnchor_7aac6d1f_ea32_4941_8fc0_fa816ea5ece2_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _4eecc027_0c03_4817_b978_488a370d0a84_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _beecbf60_76c0_4124_b365_7f45aa9bdca7_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
