@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_faf605b9_c346_4fa2_aaac_4c1252611320_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<button>
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _375ed5ff_42c7_4ced_a986_103bbf11a439_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
	</TelerikTabStrip> 
</button>
<div class="@(Get_e613d8c8_381c_4478_b3e0_1a8ee89d07c0_Class())">
	<p>This div is a test!</p>
</div>
@if (_9f1d5928_1c5a_4dad_a662_b693cbc829f2_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _9f1d5928_1c5a_4dad_a662_b693cbc829f2_buttonVisibilityTest = !_9f1d5928_1c5a_4dad_a662_b693cbc829f2_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
@if (_928c2d14_741d_4dcc_b886_8a1fc52ab15d_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _928c2d14_741d_4dcc_b886_8a1fc52ab15d_buttonVisibilityTest = !_928c2d14_741d_4dcc_b886_8a1fc52ab15d_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<button>
	This is a test button! 
</button>
@code { 
	private bool _9f1d5928_1c5a_4dad_a662_b693cbc829f2_buttonVisibilityTest;
	private bool _928c2d14_741d_4dcc_b886_8a1fc52ab15d_buttonVisibilityTest;
	private void _faf605b9_c346_4fa2_aaac_4c1252611320_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _375ed5ff_42c7_4ced_a986_103bbf11a439_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_e613d8c8_381c_4478_b3e0_1a8ee89d07c0_Class()
	{
		return "alert alert-info";
	}
} 
