@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _638a27ba_8fa8_4fbd_8895_236cdae90fe0_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _638a27ba_8fa8_4fbd_8895_236cdae90fe0_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _638a27ba_8fa8_4fbd_8895_236cdae90fe0_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_5ed5a373_3933_4ab4_9270_6b71e83ef9e9_Text())
</a>
<a href="#">
	@(GetAnchor_edfd4496_412e_49f1_8532_d385f05114e4_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _336075bc_1a1e_46a1_bde8_46eca7ff91ed_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _336075bc_1a1e_46a1_bde8_46eca7ff91ed_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _aad6c83f_9d50_4d85_a19d_c6b8abb2a3ea_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _aad6c83f_9d50_4d85_a19d_c6b8abb2a3ea_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _aad6c83f_9d50_4d85_a19d_c6b8abb2a3ea_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _aad6c83f_9d50_4d85_a19d_c6b8abb2a3ea_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _a5c6ea3b_af35_4c9b_8ab5_83a287e223f6_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _a5c6ea3b_af35_4c9b_8ab5_83a287e223f6_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _a5c6ea3b_af35_4c9b_8ab5_83a287e223f6_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _a5c6ea3b_af35_4c9b_8ab5_83a287e223f6_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string _638a27ba_8fa8_4fbd_8895_236cdae90fe0_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_5ed5a373_3933_4ab4_9270_6b71e83ef9e9_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_edfd4496_412e_49f1_8532_d385f05114e4_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _336075bc_1a1e_46a1_bde8_46eca7ff91ed_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _aad6c83f_9d50_4d85_a19d_c6b8abb2a3ea_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_8ffad07d_e3d0_4560_84af_ff473df0e5c6_Class()
	{
		return "alert alert-info";
	}
	private string _a5c6ea3b_af35_4c9b_8ab5_83a287e223f6_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
