@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _e40cfbf0_e6a5_46b2_aad3_fea3a7bf837e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _e40cfbf0_e6a5_46b2_aad3_fea3a7bf837e_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _12a79f2f_1fce_4094_a4bc_834b72e11140_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _12a79f2f_1fce_4094_a4bc_834b72e11140_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _12a79f2f_1fce_4094_a4bc_834b72e11140_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _12a79f2f_1fce_4094_a4bc_834b72e11140_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _8215ed22_36b8_470c_be69_c070c5f0b97f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_30710f88_a216_4af3_a309_5fbc0d677cf3_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_f252e28d_0d57_4f09_98fb_972bae3ff47b_Text())
	@if (_b2c04dd5_27fd_44b4_ae53_e50c5b13d3f6_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _b2c04dd5_27fd_44b4_ae53_e50c5b13d3f6_buttonVisibilityTest = !_b2c04dd5_27fd_44b4_ae53_e50c5b13d3f6_buttonVisibilityTest"> 
			This is a test button! 
		</TelerikButton> 
	}
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
	</tr>
</table>
@code { 
	private bool _b2c04dd5_27fd_44b4_ae53_e50c5b13d3f6_buttonVisibilityTest;
	private string _e40cfbf0_e6a5_46b2_aad3_fea3a7bf837e_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _12a79f2f_1fce_4094_a4bc_834b72e11140_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _8215ed22_36b8_470c_be69_c070c5f0b97f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_30710f88_a216_4af3_a309_5fbc0d677cf3_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_f252e28d_0d57_4f09_98fb_972bae3ff47b_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
