@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
	</tr>
</table>
<div class="@(Get_d537849a_dfc4_4b82_8289_1e9ade8f2957_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
	</tr>
</table>
<div class="@(Get_73b8333e_9233_4c86_b5e1_88dbd037a5e5_Class())">
	<a href="#">
		@(GetAnchor_7302eb91_9c57_4d34_a433_87c529fe870f_Text())
	</a>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _227e00b1_0b87_46ad_b651_c3c5713e7cea_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _227e00b1_0b87_46ad_b651_c3c5713e7cea_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _227e00b1_0b87_46ad_b651_c3c5713e7cea_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _227e00b1_0b87_46ad_b651_c3c5713e7cea_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _227e00b1_0b87_46ad_b651_c3c5713e7cea_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<a href="#">
	@(GetAnchor_8c8bef4b_0e8e_4c46_ad47_6d60fb04cb98_Text())
</a>
@code { 

	private string Get_d537849a_dfc4_4b82_8289_1e9ade8f2957_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_7302eb91_9c57_4d34_a433_87c529fe870f_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_73b8333e_9233_4c86_b5e1_88dbd037a5e5_Class()
	{
		return "alert alert-info";
	}
	private string _227e00b1_0b87_46ad_b651_c3c5713e7cea_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_8c8bef4b_0e8e_4c46_ad47_6d60fb04cb98_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
