
<div class="@(Get_8ceba5a6_8bf5_40bb_911f_2d7f12ff8ab7_Class())">
	<p>This div is a test!</p>
</div>
<button>
	This is a test button! 
</button>
<div class="@(Get_88aedb32_619c_4671_81cd_83976634a8fd_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_8cd5c972_6e86_4ad8_b053_37116e40c098_Text())
</a>
@code { 

	private string Get_8ceba5a6_8bf5_40bb_911f_2d7f12ff8ab7_Class()
	{
		return "alert alert-info";
	}
	private string Get_88aedb32_619c_4671_81cd_83976634a8fd_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_8cd5c972_6e86_4ad8_b053_37116e40c098_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
