@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ebaa2564_2342_4f08_b42f_8b1d046b5cdc_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ebaa2564_2342_4f08_b42f_8b1d046b5cdc_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _ebaa2564_2342_4f08_b42f_8b1d046b5cdc_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _ebaa2564_2342_4f08_b42f_8b1d046b5cdc_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _5ccefba8_7632_4800_94e7_2f3e7485c759_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1cdb2ab8_b59f_48ce_a46c_3b9de1d53650_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1cdb2ab8_b59f_48ce_a46c_3b9de1d53650_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _1cdb2ab8_b59f_48ce_a46c_3b9de1d53650_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _1cdb2ab8_b59f_48ce_a46c_3b9de1d53650_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_21f8ef57_58cd_4a3f_b34b_18fd07ce633b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _21f8ef57_58cd_4a3f_b34b_18fd07ce633b_buttonVisibilityTest = !_21f8ef57_58cd_4a3f_b34b_18fd07ce633b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_156eb83f_3ab2_47f9_a617_fe27de6d427a_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _156eb83f_3ab2_47f9_a617_fe27de6d427a_buttonVisibilityTest = !_156eb83f_3ab2_47f9_a617_fe27de6d427a_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _cdab21c5_7ebb_441b_a654_cb255e432316_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _cdab21c5_7ebb_441b_a654_cb255e432316_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _cdab21c5_7ebb_441b_a654_cb255e432316_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _cdab21c5_7ebb_441b_a654_cb255e432316_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_ca3f721c_22fb_4b66_8567_4ecb6067bd97_Text())
	@if (_39eba3b3_8fbd_45d9_ab4a_cb98c4018cd5_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _39eba3b3_8fbd_45d9_ab4a_cb98c4018cd5_buttonVisibilityTest = !_39eba3b3_8fbd_45d9_ab4a_cb98c4018cd5_buttonVisibilityTest"> 
			This is a test button! 
		</TelerikButton> 
	}
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _aa1caa04_e843_4808_ab45_578ff51797e9_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7364d1a3_8358_4210_9896_61b5051efd10_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _7364d1a3_8358_4210_9896_61b5051efd10_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _7364d1a3_8358_4210_9896_61b5051efd10_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _7364d1a3_8358_4210_9896_61b5051efd10_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _21f8ef57_58cd_4a3f_b34b_18fd07ce633b_buttonVisibilityTest;
	private bool _156eb83f_3ab2_47f9_a617_fe27de6d427a_buttonVisibilityTest;
	private bool _39eba3b3_8fbd_45d9_ab4a_cb98c4018cd5_buttonVisibilityTest;
	private string _ebaa2564_2342_4f08_b42f_8b1d046b5cdc_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _5ccefba8_7632_4800_94e7_2f3e7485c759_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _1cdb2ab8_b59f_48ce_a46c_3b9de1d53650_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _cdab21c5_7ebb_441b_a654_cb255e432316_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_ca3f721c_22fb_4b66_8567_4ecb6067bd97_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _aa1caa04_e843_4808_ab45_578ff51797e9_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _7364d1a3_8358_4210_9896_61b5051efd10_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
