@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _6c412105_4a29_46f1_8e42_858cb2a0dcbf_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _6c412105_4a29_46f1_8e42_858cb2a0dcbf_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _6c412105_4a29_46f1_8e42_858cb2a0dcbf_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _6c412105_4a29_46f1_8e42_858cb2a0dcbf_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _6c412105_4a29_46f1_8e42_858cb2a0dcbf_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_f2545992_0da6_426b_89f2_17216833d332_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f2545992_0da6_426b_89f2_17216833d332_buttonVisibilityTest = !_f2545992_0da6_426b_89f2_17216833d332_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c698a76c_d02c_48ad_a47e_e0a8f7b7c425_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c698a76c_d02c_48ad_a47e_e0a8f7b7c425_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _c698a76c_d02c_48ad_a47e_e0a8f7b7c425_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1364b858_274d_47ff_a788_5694121155b7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1364b858_274d_47ff_a788_5694121155b7_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _1364b858_274d_47ff_a788_5694121155b7_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _1364b858_274d_47ff_a788_5694121155b7_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _15d2ffe5_8de0_4b1c_9350_195644d00734_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
			</tr>
			<tr>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
			</tr>
		</table>
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _f2545992_0da6_426b_89f2_17216833d332_buttonVisibilityTest;
	private string _6c412105_4a29_46f1_8e42_858cb2a0dcbf_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _c698a76c_d02c_48ad_a47e_e0a8f7b7c425_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _1364b858_274d_47ff_a788_5694121155b7_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _1cf69646_e923_4570_a14a_f64d462b50ff_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _15d2ffe5_8de0_4b1c_9350_195644d00734_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
