@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _f89e7b14_95ab_4a95_9b9d_3c6e332a81aa_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _f89e7b14_95ab_4a95_9b9d_3c6e332a81aa_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _f89e7b14_95ab_4a95_9b9d_3c6e332a81aa_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string _59dab64c_d032_4f5d_8e31_7e8dea344325_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _4e202378_92b7_40c0_baf6_4ecaae69d7e3_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _f89e7b14_95ab_4a95_9b9d_3c6e332a81aa_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
