@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_65759683_de93_4825_8335_ecaf5d1d2bd1_Text())
</a>
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _3cad9a45_7d23_4a93_8a36_441aef8744bd_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _3cad9a45_7d23_4a93_8a36_441aef8744bd_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _3cad9a45_7d23_4a93_8a36_441aef8744bd_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _99b4f127_c386_4d49_a871_489792a6539e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _99b4f127_c386_4d49_a871_489792a6539e_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _99b4f127_c386_4d49_a871_489792a6539e_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _026afc08_d369_4df7_bef1_0a5facf8bf13_buttonVisibilityTest;
	private string GetAnchor_65759683_de93_4825_8335_ecaf5d1d2bd1_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _3cad9a45_7d23_4a93_8a36_441aef8744bd_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _99b4f127_c386_4d49_a871_489792a6539e_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
