
<div class="@(Get_e1d8c069_0aef_4da8_94a4_5fdbf3faf1fc_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_b8f6c03d_c82e_4bb2_9836_75368e6920d7_Text())
</a>
@code { 

	private string Get_e1d8c069_0aef_4da8_94a4_5fdbf3faf1fc_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_b8f6c03d_c82e_4bb2_9836_75368e6920d7_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
