@using Telerik.Blazor.Components;
<div class="@(Get_4d8b6acf_4dc0_4532_b838_5778604cd0a1_Class())">
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
		</tr>
		<tr>
			<td>
				@if (_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest = !_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest = !_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest = !_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest = !_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest = !_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest = !_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest = !_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest = !_67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</td>
		</tr>
	</table>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _3f0f52f3_b598_4fb8_b05c_7a1bb644a30c_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _3f0f52f3_b598_4fb8_b05c_7a1bb644a30c_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _3f0f52f3_b598_4fb8_b05c_7a1bb644a30c_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _3f0f52f3_b598_4fb8_b05c_7a1bb644a30c_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _3f0f52f3_b598_4fb8_b05c_7a1bb644a30c_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_7e1cb6e5_5697_4e21_8a01_4c82cfb75c90_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_452a320a_5f66_49f7_a2da_5949fd25fb75_Text())
</a>
<button>
	This is a test button! 
</button>
@code { 
	private bool _67e9536d_0c7c_434e_a076_c5cb18640d6f_buttonVisibilityTest;
	private string Get_4d8b6acf_4dc0_4532_b838_5778604cd0a1_Class()
	{
		return "alert alert-info";
	}
	private string _3f0f52f3_b598_4fb8_b05c_7a1bb644a30c_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_7e1cb6e5_5697_4e21_8a01_4c82cfb75c90_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_452a320a_5f66_49f7_a2da_5949fd25fb75_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
