@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1075efaa_cf3f_4ce3_b025_10ee6ac342ce_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1075efaa_cf3f_4ce3_b025_10ee6ac342ce_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _1075efaa_cf3f_4ce3_b025_10ee6ac342ce_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_f67f73b2_c82a_468d_abd5_3b87dc4f0737_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f67f73b2_c82a_468d_abd5_3b87dc4f0737_buttonVisibilityTest = !_f67f73b2_c82a_468d_abd5_3b87dc4f0737_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_c7861f51_714a_4075_922e_4ba6cab26912_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _c7861f51_714a_4075_922e_4ba6cab26912_buttonVisibilityTest = !_c7861f51_714a_4075_922e_4ba6cab26912_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _39579f01_48dd_4d1d_a0d4_f748f1028e9d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _39579f01_48dd_4d1d_a0d4_f748f1028e9d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _39579f01_48dd_4d1d_a0d4_f748f1028e9d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _39579f01_48dd_4d1d_a0d4_f748f1028e9d_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		<button>
			<a href="#">
				@(GetAnchor_861159b6_8faa_42d3_97dd_a2cdb5870a74_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _11f452e5_c043_4c75_a680_1e96a675dbdb_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
					<TabStripTab> 
						@{ var tabStrip1Data = _11f452e5_c043_4c75_a680_1e96a675dbdb_GetTabStripData(); }
						@tabStrip1Data
					</TabStripTab> 
					<TabStripTab> 
						@{ var tabStrip2Data = _11f452e5_c043_4c75_a680_1e96a675dbdb_GetTabStripData(); }
						@tabStrip2Data
					</TabStripTab> 
					<TabStripTab> 
						@{ var tabStrip3Data = _11f452e5_c043_4c75_a680_1e96a675dbdb_GetTabStripData(); }
						@tabStrip3Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</button>
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _37accd23_147b_4b8f_ac3e_0e68dad8a5ac_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _37accd23_147b_4b8f_ac3e_0e68dad8a5ac_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _37accd23_147b_4b8f_ac3e_0e68dad8a5ac_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _37accd23_147b_4b8f_ac3e_0e68dad8a5ac_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _37accd23_147b_4b8f_ac3e_0e68dad8a5ac_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
@code { 
	private bool _f67f73b2_c82a_468d_abd5_3b87dc4f0737_buttonVisibilityTest;
	private bool _c7861f51_714a_4075_922e_4ba6cab26912_buttonVisibilityTest;
	private string _1075efaa_cf3f_4ce3_b025_10ee6ac342ce_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _11f452e5_c043_4c75_a680_1e96a675dbdb_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_861159b6_8faa_42d3_97dd_a2cdb5870a74_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _39579f01_48dd_4d1d_a0d4_f748f1028e9d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _4596b74a_f86c_46c5_b702_aa1df2e4da99_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _37accd23_147b_4b8f_ac3e_0e68dad8a5ac_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
