@using Telerik.Blazor.Components;
@if (_7f50bfed_e9c0_477d_beea_b11b1a8299c0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _7f50bfed_e9c0_477d_beea_b11b1a8299c0_buttonVisibilityTest = !_7f50bfed_e9c0_477d_beea_b11b1a8299c0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_6e227bd6_ddb2_41ea_aa3d_df78886b12b8_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
	</tr>
</table>
@code { 
	private bool _7f50bfed_e9c0_477d_beea_b11b1a8299c0_buttonVisibilityTest;
	private string Get_6e227bd6_ddb2_41ea_aa3d_df78886b12b8_Class()
	{
		return "alert alert-info";
	}
} 
