
<div class="@(Get_111dd7aa_cbd5_4226_a62c_dee094517da6_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_956fc341_5349_4fbd_98e7_8b6d09e10fe3_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col1Row5
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
	</tr>
</table>
@code { 

	private string Get_111dd7aa_cbd5_4226_a62c_dee094517da6_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_956fc341_5349_4fbd_98e7_8b6d09e10fe3_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
