@using Telerik.Blazor.Components;
@if (_203a8a46_47c0_4201_ad97_9af856458b0b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _203a8a46_47c0_4201_ad97_9af856458b0b_buttonVisibilityTest = !_203a8a46_47c0_4201_ad97_9af856458b0b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
	</tr>
</table>
@if (_f463eb89_5dfd_4118_be94_b8a3b12a18d2_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f463eb89_5dfd_4118_be94_b8a3b12a18d2_buttonVisibilityTest = !_f463eb89_5dfd_4118_be94_b8a3b12a18d2_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _203a8a46_47c0_4201_ad97_9af856458b0b_buttonVisibilityTest;
	private bool _f463eb89_5dfd_4118_be94_b8a3b12a18d2_buttonVisibilityTest;

} 
