@using Telerik.Blazor.Components;
@if (_85ee30d0_d89e_4478_ab91_e6bedc5b8c4b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _85ee30d0_d89e_4478_ab91_e6bedc5b8c4b_buttonVisibilityTest = !_85ee30d0_d89e_4478_ab91_e6bedc5b8c4b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_5e196c84_f163_433d_a9ca_d9d3c0af0398_Text())
	<a href="#">
		@(GetAnchor_ba3d5f58_a2a7_4376_863d_dcbe71c3bd87_Text())
	</a>
</a>
@code { 
	private bool _85ee30d0_d89e_4478_ab91_e6bedc5b8c4b_buttonVisibilityTest;
	private string GetAnchor_ba3d5f58_a2a7_4376_863d_dcbe71c3bd87_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_5e196c84_f163_433d_a9ca_d9d3c0af0398_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
