@using Telerik.Blazor.Components;
@if (_b76e2c66_82dc_4166_ab51_5f08cc45a586_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _b76e2c66_82dc_4166_ab51_5f08cc45a586_buttonVisibilityTest = !_b76e2c66_82dc_4166_ab51_5f08cc45a586_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_34af8674_c7d6_4a39_96b8_003e3074ef3c_Text())
</a>
@if (_94cd4585_ad35_4046_9016_6418ab455b62_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _94cd4585_ad35_4046_9016_6418ab455b62_buttonVisibilityTest = !_94cd4585_ad35_4046_9016_6418ab455b62_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_df4770ca_624f_4885_9447_bf98964ae936_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest = !_0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
@code { 
	private bool _b76e2c66_82dc_4166_ab51_5f08cc45a586_buttonVisibilityTest;
	private bool _94cd4585_ad35_4046_9016_6418ab455b62_buttonVisibilityTest;
	private bool _0e40e617_8b8a_4357_8804_75bea379ad29_buttonVisibilityTest;
	private string GetAnchor_34af8674_c7d6_4a39_96b8_003e3074ef3c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_df4770ca_624f_4885_9447_bf98964ae936_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
