@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_e3d607a8_6934_4ea1_a908_6100c71e6df9_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
	</tr>
</table>
@if (_f7d03d2a_b252_45a7_a494_02809be128af_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f7d03d2a_b252_45a7_a494_02809be128af_buttonVisibilityTest = !_f7d03d2a_b252_45a7_a494_02809be128af_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<div class="@(Get_657f3b4b_75ab_4f72_be76_470d9630a0c2_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ac90e7dc_22ca_4eda_b1b8_6340c0a28b9c_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ac90e7dc_22ca_4eda_b1b8_6340c0a28b9c_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _ac90e7dc_22ca_4eda_b1b8_6340c0a28b9c_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<button>
	This is a test button! 
</button>
@code { 
	private bool _f7d03d2a_b252_45a7_a494_02809be128af_buttonVisibilityTest;
	private string GetAnchor_e3d607a8_6934_4ea1_a908_6100c71e6df9_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _6428be1d_ae6f_40b8_9f3b_46a34a4025a8_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_657f3b4b_75ab_4f72_be76_470d9630a0c2_Class()
	{
		return "alert alert-info";
	}
	private string _ac90e7dc_22ca_4eda_b1b8_6340c0a28b9c_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
