@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1b2dcc08_fdbc_4930_8acf_0a5531a8e021_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1b2dcc08_fdbc_4930_8acf_0a5531a8e021_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _1b2dcc08_fdbc_4930_8acf_0a5531a8e021_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _1b2dcc08_fdbc_4930_8acf_0a5531a8e021_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _d3cbf176_6cef_4abc_8763_e5d9e14d1f2b_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _d3cbf176_6cef_4abc_8763_e5d9e14d1f2b_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _d3cbf176_6cef_4abc_8763_e5d9e14d1f2b_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _d3cbf176_6cef_4abc_8763_e5d9e14d1f2b_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<button>
	This is a test button! 
</button>
@code { 

	private string _1b2dcc08_fdbc_4930_8acf_0a5531a8e021_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _d3cbf176_6cef_4abc_8763_e5d9e14d1f2b_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
