
<button>
	This is a test button! 
</button>
<a href="#">
	@(GetAnchor_30ca2c88_5670_400f_bc6f_e5989c469de1_Text())
</a>
<div class="@(Get_cc4cfa0b_59e0_4b6a_b139_7b856b9a8fad_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string GetAnchor_30ca2c88_5670_400f_bc6f_e5989c469de1_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_cc4cfa0b_59e0_4b6a_b139_7b856b9a8fad_Class()
	{
		return "alert alert-info";
	}
} 
