
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
	</tr>
</table>
<div class="@(Get_e88ddcb4_2055_4211_bbb3_83901b42bf33_Class())">
	<a href="#">
		@(GetAnchor_77e755d7_a417_425c_b0f8_a4da3fb9f471_Text())
	</a>
</div>
<a href="#">
	@(GetAnchor_31a8d43c_a3c8_4bc7_9921_bfe8bc714e3c_Text())
</a>
<a href="#">
	@(GetAnchor_e6c7c7c8_5ac0_4d27_a772_8e20763f7d1c_Text())
</a>
@code { 

	private string GetAnchor_77e755d7_a417_425c_b0f8_a4da3fb9f471_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_e88ddcb4_2055_4211_bbb3_83901b42bf33_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_31a8d43c_a3c8_4bc7_9921_bfe8bc714e3c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_e6c7c7c8_5ac0_4d27_a772_8e20763f7d1c_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
