@using Telerik.Blazor.Components;
@if (_ff9887a9_22e5_4fd4_b27b_7203a2678e3b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _ff9887a9_22e5_4fd4_b27b_7203a2678e3b_buttonVisibilityTest = !_ff9887a9_22e5_4fd4_b27b_7203a2678e3b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_86d68bce_e487_4791_9b50_6021b8b84c90_Class())">
	<p>This div is a test!</p>
</div>
@code { 
	private bool _ff9887a9_22e5_4fd4_b27b_7203a2678e3b_buttonVisibilityTest;
	private string Get_86d68bce_e487_4791_9b50_6021b8b84c90_Class()
	{
		return "alert alert-info";
	}
} 
