@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _f84a5efd_9224_4b27_9481_530f937fbcb7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _f84a5efd_9224_4b27_9481_530f937fbcb7_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _f84a5efd_9224_4b27_9481_530f937fbcb7_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _f84a5efd_9224_4b27_9481_530f937fbcb7_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _f84a5efd_9224_4b27_9481_530f937fbcb7_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_ff8298d5_94da_4b65_b6ee_0efded0526d7_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _ff8298d5_94da_4b65_b6ee_0efded0526d7_buttonVisibilityTest = !_ff8298d5_94da_4b65_b6ee_0efded0526d7_buttonVisibilityTest"> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
			</tr>
			<tr>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip3Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip3Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip4Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip4Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip3Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip3Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip4Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip4Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip3Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip3Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip4Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip4Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip3Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip3Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip4Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip4Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip3Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip3Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip4Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip4Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
				<td>
					<TelerikTabStrip> 
						<TabStripTab> 
							@{ var tabStrip0Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip0Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip1Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip1Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip2Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip2Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip3Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip3Data
						</TabStripTab> 
						<TabStripTab> 
							@{ var tabStrip4Data = _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData(); }
							@tabStrip4Data
						</TabStripTab> 
					</TelerikTabStrip> 
				</td>
			</tr>
		</table>
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _3b53be4e_1d5f_4dc5_aa09_322adde46da2_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _3b53be4e_1d5f_4dc5_aa09_322adde46da2_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_ea108bf9_fd0d_4733_84ec_77ad25ee4eb4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _ea108bf9_fd0d_4733_84ec_77ad25ee4eb4_buttonVisibilityTest = !_ea108bf9_fd0d_4733_84ec_77ad25ee4eb4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_bab48ea9_efb2_4d70_ad55_40cff0187a6e_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _ff8298d5_94da_4b65_b6ee_0efded0526d7_buttonVisibilityTest;
	private bool _ea108bf9_fd0d_4733_84ec_77ad25ee4eb4_buttonVisibilityTest;
	private string _f84a5efd_9224_4b27_9481_530f937fbcb7_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _d7f21a83_7faf_4049_bd80_7c1db9b74a18_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _3b53be4e_1d5f_4dc5_aa09_322adde46da2_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _bab48ea9_efb2_4d70_ad55_40cff0187a6e_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
