@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
	</tr>
</table>
@if (_4b2bbc28_71bb_4d5b_bb78_bd317fee5c19_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _4b2bbc28_71bb_4d5b_bb78_bd317fee5c19_buttonVisibilityTest = !_4b2bbc28_71bb_4d5b_bb78_bd317fee5c19_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _61e57943_57b1_4d45_92ae_3aa25aaff7b3_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _61e57943_57b1_4d45_92ae_3aa25aaff7b3_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_c200429a_013a_4e95_b2be_65cecc164fa7_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _c200429a_013a_4e95_b2be_65cecc164fa7_buttonVisibilityTest = !_c200429a_013a_4e95_b2be_65cecc164fa7_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _9cef3f7b_d4c2_47bc_8660_f9e873ccdd7e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _9cef3f7b_d4c2_47bc_8660_f9e873ccdd7e_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _4b2bbc28_71bb_4d5b_bb78_bd317fee5c19_buttonVisibilityTest;
	private bool _c200429a_013a_4e95_b2be_65cecc164fa7_buttonVisibilityTest;
	private string _61e57943_57b1_4d45_92ae_3aa25aaff7b3_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _9cef3f7b_d4c2_47bc_8660_f9e873ccdd7e_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
