
<div class="@(Get_28f70068_ded2_4b17_b03c_e1b44749dbba_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_d7c40f5e_4782_4077_a124_d3cd0a8a5450_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
	</tr>
</table>
@code { 

	private string Get_28f70068_ded2_4b17_b03c_e1b44749dbba_Class()
	{
		return "alert alert-info";
	}
	private string Get_d7c40f5e_4782_4077_a124_d3cd0a8a5450_Class()
	{
		return "alert alert-info";
	}
} 
