
<div class="@(Get_d2e0a76b_ba83_43c0_aa48_293b15581bc8_Class())">
	<p>This div is a test!</p>
</div>
<button>
	This is a test button! 
</button>
<div class="@(Get_e8d800c8_04e9_4df9_b49f_aaf341230002_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_6684fd62_f0f9_4e25_913f_df7e304816bc_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_4da5a59e_f059_4eb2_840d_0ecc93f9440c_Text())
</a>
@code { 

	private string Get_d2e0a76b_ba83_43c0_aa48_293b15581bc8_Class()
	{
		return "alert alert-info";
	}
	private string Get_e8d800c8_04e9_4df9_b49f_aaf341230002_Class()
	{
		return "alert alert-info";
	}
	private string Get_6684fd62_f0f9_4e25_913f_df7e304816bc_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_4da5a59e_f059_4eb2_840d_0ecc93f9440c_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
