@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _23826614_3554_4799_85d0_645e79dc6b00_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _23826614_3554_4799_85d0_645e79dc6b00_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _23826614_3554_4799_85d0_645e79dc6b00_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _99eab82b_9ee4_4cd0_ac7e_8f65518c3fc5_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _99eab82b_9ee4_4cd0_ac7e_8f65518c3fc5_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _99eab82b_9ee4_4cd0_ac7e_8f65518c3fc5_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_80704893_d87f_425f_a772_0190788d49b1_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string _23826614_3554_4799_85d0_645e79dc6b00_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _99eab82b_9ee4_4cd0_ac7e_8f65518c3fc5_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_80704893_d87f_425f_a772_0190788d49b1_Class()
	{
		return "alert alert-info";
	}
} 
