@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_8e257fcf_9b2e_4288_b4c1_1054502eb9ba_Text())
	<a href="#">
		@(GetAnchor_bcfc4607_2c9c_43e4_aa1c_2ec3ed027cd5_Text())
		<div class="@(Get_57c909fb_21ad_4623_92d9_c217366252de_Class())">
			<p>This div is a test!</p>
		</div>
	</a>
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _816f1179_09af_4d2d_9ed8_ebfd2afb3e29_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _816f1179_09af_4d2d_9ed8_ebfd2afb3e29_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
	</tr>
</table>
@if (_b61d5175_7b6e_43c7_b53c_056be2140b12_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _b61d5175_7b6e_43c7_b53c_056be2140b12_buttonVisibilityTest = !_b61d5175_7b6e_43c7_b53c_056be2140b12_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _b61d5175_7b6e_43c7_b53c_056be2140b12_buttonVisibilityTest;
	private string Get_57c909fb_21ad_4623_92d9_c217366252de_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_bcfc4607_2c9c_43e4_aa1c_2ec3ed027cd5_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_8e257fcf_9b2e_4288_b4c1_1054502eb9ba_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _816f1179_09af_4d2d_9ed8_ebfd2afb3e29_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _3b145203_e0c2_4528_95ef_dae849661c98_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
