@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _5d18297c_f629_4609_929e_84f93e227895_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _5d18297c_f629_4609_929e_84f93e227895_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _5d18297c_f629_4609_929e_84f93e227895_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _5d18297c_f629_4609_929e_84f93e227895_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<div class="@(Get_38b0ee5d_056c_42ef_bedd_d8b5199e4354_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _4a42549d_4c00_4883_a970_6821fa920d37_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _4a42549d_4c00_4883_a970_6821fa920d37_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _4a42549d_4c00_4883_a970_6821fa920d37_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _4a42549d_4c00_4883_a970_6821fa920d37_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c629037e_f7af_475c_bc13_3d598907e7ae_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c629037e_f7af_475c_bc13_3d598907e7ae_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _c629037e_f7af_475c_bc13_3d598907e7ae_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string _5d18297c_f629_4609_929e_84f93e227895_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_38b0ee5d_056c_42ef_bedd_d8b5199e4354_Class()
	{
		return "alert alert-info";
	}
	private string _4a42549d_4c00_4883_a970_6821fa920d37_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _c629037e_f7af_475c_bc13_3d598907e7ae_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
